[2018-12-05 02:13] Theorian opened #1 "Seems to break the Vue router"
cannot seem to nest the router-view in it

[2018-12-08 04:18] antoniandre commented on #1
Hi @Theorian,

I tried to place a router view inside splitpanes, even in nested splitpanes like so:
[code]

And I have no problem rendering my component inside.
Please share your code so we can explore what goes wrong.

[2018-12-14 10:47] maxisoft-git opened #2 "Save current state panes"
How can I save the current state of the panels, and after updating the page, restore the previously set sizes of the panels?

[2018-12-14 16:48] Bellski opened #3 "Split Panes broken children components"
Hello. Click ob "B"
https://jsfiddle.net/69d5q71o/2/ - with panes
https://jsfiddle.net/69d5q71o/1/ - w/o panes

[2018-12-16 09:39] antoniandre commented on #3
Hi @Bellski,
It is not broken but only not reactive.
If you place your message outside of splitpanes you will see it's updated on click.
I will see what I can do to track the changes of your components and will do a new release soon.

[2018-12-16 09:41] antoniandre commented on #2
Hi @maxisoft-git,
I will emit events in the next release coming soon. So that you can listen for these events and trigger actions outside of splitpanes.

[2018-12-16 12:08] maxisoft-git commented on #2
I will look forward to

[2018-12-16 22:34] antoniandre commented on #1
Closed for inactivity.

[2018-12-16 22:34] #1 closed

[2018-12-17 00:36] antoniandre commented on #2
Hi @maxisoft-git,

I released a new version and you can now get the dimensions of the panes each time you resize them through the resize event [antoniandre.github.io/splitpanes/#emitted-events](https://antoniandre.github.io/splitpanes/#emitted-events).

In addition to that I added a default width or height option on the panes for when you first load. So you will need that as well when you reload t

[2018-12-18 10:03] R3veng3R opened #4 "rename resize event"
Hello, we're actively using your plugin in our project. But there are few issues we would like to address here.

1. resize is actually should be named as resizeStop event. A true resize event should be fired everytime I am moving the mouse with mouse down clicked.

2. Could you please add a double click event when double clicking on splitters?

[2018-12-18 10:30] antoniandre commented on #4
Hi @R3veng3R,
thanks for your interest.
Your request is quite straightforward and makes sense to me.
I have a couple of things I am currently working on but I will include these changes for you in the next release:
- renamed `resize` into `resized` - I don't want to fire event while resizing (useless & costly).
- added double click event (`@dblclick`)

Will notify you here.
Cheers.

[2018-12-18 11:34] R3veng3R commented on #4
Hi @antoniandre , thank you for your quick answer.

We wanted to make collapse/uncollapse when dblclicking on splitters

[2018-12-18 11:56] antoniandre commented on #4
That's a feature I also wanted to add built-in, like Codepen does.
Don't hesitate to do a pull request if you have started something.

[2018-12-18 23:16] antoniandre commented on #4
HI @R3veng3R,

I have had a look at it and it's an easy task again so I will release the maximizing panes feature later today.

[2018-12-19 08:13] R3veng3R commented on #4
Hi @antoniandre ,

thank you looking forward for those changes

[2018-12-19 10:33] antoniandre commented on #4
Hi @R3veng3R,
I meant the changes are already out in version 1.7.0. 👌
Hope that helps!

[2018-12-20 00:02] antoniandre commented on #2
Hi @maxisoft-git,
let me know if you need further assistance with that.

[2018-12-21 03:36] antoniandre commented on #3
Don't worry I'm on it folks, and it's in my top priorities!

[2018-12-21 12:09] tandrew commented on #3
That would not just be awesome, but highly appreciated!

[2018-12-21 13:37] Bellski commented on #3
Burden of open source project ;)

[2018-12-22 07:44] antoniandre commented on #3
I have released a new version that should fix this issue.
You can have a look at: https://antoniandre.github.io/splitpanes/#in-depth-reactivity
Hope it helps.

[2018-12-26 11:12] antoniandre commented on #3
Hi @proepkes,
Sorry I can't reproduce this issue, can you share your component code that uses splitpanes please?

[2018-12-26 23:15] antoniandre commented on #3
Hi @tandrew,
Thank you for your input and happy holidays!

Interestingly, I can't reproduce this on my end, like the documentation shows, and my Codepen examples are working fine, so we need to dig into the rest of the code of your component to see what causes the circular reference.
Can you create a Codepen forked from https://codepen.io/antoniandre/pen/PypgKY for me please?
With more of your cod

[2018-12-27 11:53] tandrew commented on #3
Hi @antoniandre,
Thanks for paying attention to this issue.

I am trying to use your component in the context of a quasar application.

I have created a pen using the quasar codepen template. Somehow your component fails to work therein altogether. You can take a look here:

https://codepen.io/tandrew-the-bold/pen/VqzyZL

I have then created a github repo which demonstrates the issue. You can find

[2018-12-27 22:22] antoniandre commented on #3
Hi @tandrew,
Awesome that you have created this pen and repo!
I fixed your Codepen  when you don't need to import splitpanes in js as you already did in external script. Then the component to use is not `Splitpanes` but `splitpanes` apart from that all remains the same.
Please have a look here where it works fine with Quasar: https://codepen.io/antoniandre/pen/ebExXv

I will try your repo later to

[2018-12-27 23:17] calebeaires opened #5 "TypeError: Converting circular structure to JSON on splitpanes"
I have follow the tutorial to implement it, but Splitpanes has an problem with my code. A simple splitpanes code give this error.

Code used:

[code]

***console error info: Property or method "toJSON" is not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option, or for class-based components, by initializing the property.***

[co

[2018-12-27 23:40] antoniandre commented on #3
Hi @tandrew,
I fixed the issue on your demo repo by releasing a patch of splitpanes.
I hope it will also fix @Bellski & @proepkes issues.

Please let me know if there is still an issue (after you update splitpanes) with the circular reference occurring with `JSON.stringify` as it is most likely a quick fix.

[2018-12-27 23:46] antoniandre commented on #5
Hi @calebeaires,
This issue is the same as https://github.com/antoniandre/splitpanes/issues/3.
I just released a patch for this (after you created this issue) please have a look there and let me know!

[2018-12-27 23:47] #5 closed

[2018-12-27 23:48] antoniandre commented on #3
Another issue was created for the same problem: https://github.com/antoniandre/splitpanes/issues/5.
Following up here.

[2018-12-28 18:01] Bellski opened #6 "Module build failed (WebPack) after update 1.8.1"
`splitpanes.common.js:1 Uncaught Error: Module build failed: Error: ENOENT: no such file or directory, open '..\node_modules\splitpanes\dist\splitpanes.common.js'
    at eval (splitpanes.common.js:1)
    at Object../node_modules/splitpanes/dist/splitpanes.common.js (main.bundle.js:9274)
    at __webpack_require__ (main.bundle.js:64)
    at eval (index.js:30)
    at Module../src/index.js (main.bund

[2018-12-28 18:07] Bellski commented on #6
Please close,
`npm rebuild` helped

[2018-12-28 23:33] antoniandre commented on #2
The feature request is now implemented.
Closed for inactivity.
You can reopen if you need more help on that!

[2018-12-28 23:33] #2 closed

[2018-12-29 01:44] tandrew opened #7 "Resize problem when reactive field is in pane"
Hi @antoniandre,

I ran into another issue with the component after the latest update (v1.8.1).

See the gif for the problem:

![dec-29-2018 02-22-53](https://user-images.githubusercontent.com/8017453/50531854-c68ca880-0b10-11e9-9a6e-75afa18ad00f.gif)

**Description:**
- I have a blue div in the top right pane (2). It resizes to the size of the top right pane when the horizontal splitter resizes t

[2018-12-29 01:47] tandrew commented on #3
Hi @antoniandre,
Thanks for the quick fixes. I think we are getting closer! :-)

I ran into another issue which I have outlined in issue [#7](https://github.com/antoniandre/splitpanes/issues/7).

Thanks for looking into this!

[2018-12-29 10:59] proepkes commented on #3
Error is solved for me too with version 1.8.1, thanks

[2018-12-29 22:52] Bellski opened #8 "@resize must emit event immediate"
Now resize event emits after drag's end.

[2018-12-30 03:55] antoniandre commented on #8
That's intended from the beginning and discussed here https://github.com/antoniandre/splitpanes/issues/4.
There is no benefit in emitting an event foreach pixel you resize IMO.

Did you have a good reason for that?

[2018-12-30 03:59] Bellski commented on #8
Sure, for example i need to update size of child component, when drag gutter. Now child will resize after drag's end, looks not good. U can make immediate postfix, `@resize.immediate`

[2018-12-30 04:03] antoniandre commented on #8
Can't you set your component size in percentage so it does not need any calculation?

[2018-12-30 04:09] Bellski commented on #8
I'm using monaco editor, when container resizing i must call update method to recalculate size of editor. To make smooth resizing, that's why i need this, this is pretty default thing for split panes. But i don't mind, i just moved resize event in to  `onMouseMove`

[2018-12-30 04:42] antoniandre commented on #7
Hi @tandrew,

I understand the problem and it's not something you do wrong.
As Splitpanes now watches all its children for any change, when it occurs everything refreshes which was the last requested feature.

For now I can't think of a way to allow watching outside changes and not refreshing everything.
I need to think about it.

By the way, I don't know if in your app you can set the height of y

[2019-01-01 14:52] tandrew commented on #7
Hi @antoniandre,

Thanks for following up on this.

Just to sum up the issue once more and to make sure we are on the same page:
Altering a reactive vue variable within the resize event, where this variable is then used elsewhere (does not have to be within a split pane ... could be anywhere on the page) leads to the aforesaid
 behavior.

In my instance I need to have the new height (by way of res

[2019-01-03 00:15] antoniandre commented on #4
Hi @R3veng3R,

Splitpanes now emits an event on resize and another event on resize end.
Please check the release notes: https://antoniandre.github.io/splitpanes/#release-notes

[2019-01-03 00:19] antoniandre commented on #8
Hi @Bellski,

Splitpanes now emits an event on resize and another event on resize end.
Also note that watching slots is now an option that you should activate to keep full reactivity (https://antoniandre.github.io/splitpanes/#in-depth-reactivity).

Please check the release notes: https://antoniandre.github.io/splitpanes/#release-notes

Hope it solves the issue!

[2019-01-03 01:12] Bellski commented on #8
Nice, but i can't understand who need non-reactive components? And why splipanes affects on child component reactivity ?

[2019-01-05 17:52] Alecyrus opened #9 "Feature request: max width / height"
See this: [link](https://codepen.io/alecyrus/pen/gZeBZg)
If you set the _splitpanes-max_ property like _splitpanes-min_ and try expanding the element which has red background, something strange will happen. The expanding dragging action will affect left panes...I have not checked the source code yet. Anyone help?

[2019-01-05 17:53] Alecyrus commented on #9
@antoniandre

[2019-01-06 10:14] antoniandre commented on #9
Hi @Alecyrus,

Thanks for your interest, sorry but the max feature is not developed yet as written in the release notes.
It's next in my list!

[2019-01-09 15:29] rajashekarappala opened #10 "Unable to use v-if/else inside the splitpane."
Hi @antoniandre,
I need to render the content inside the pane based on the condition.
In the below example I can call the toggle function of the parent but can't use the updated value of `show`.
https://codepen.io/anon/pen/QzBREL

Appreciate the help.

[2019-01-10 04:39] Alecyrus opened #11 "Splitpanes may lead memory leak"
When I use splitpanes in my component, if I switch the component by changing the routes page frequently. I found the number of splitpanes component instance could increase with the routes changing. Once I comment all splitpanes code, the memory usage falls down. Recently I realize the memory management is very important because the memory leak of my APP, so i start to assess the potential memory l

[2019-01-10 04:49] Alecyrus commented on #11
I probably found the reason.
[code]
It seems like that you didn't unbind the event listener when the component is destroyed.

[2019-01-10 04:55] Alecyrus commented on #11
Solved.
![image](https://user-images.githubusercontent.com/13865581/50946954-f0fa4080-14d6-11e9-8d16-0d69390eeb0d.png)
wait my PR

[2019-01-10 05:05] Alecyrus commented on #11
#12

[2019-01-10 05:18] antoniandre commented on #10
Hi @rajashekarappala,

You have to use the option watch-slots on splitpanes tag to do this https://codepen.io/antoniandre/pen/dwqzmO,

There is still an ongoing limitation to watch-slots option discussed here https://github.com/antoniandre/splitpanes/issues/7.

[2019-01-10 05:19] antoniandre commented on #11
Hi @Alecyrus,

Thanks for your investigation and PR, I will merge it in shortly.

[2019-01-10 05:20] #11 closed

[2019-01-10 07:45] rajashekarappala commented on #10
Thank you so much @antoniandre, It works

[2019-01-10 08:03] #10 closed

[2019-01-13 02:36] antoniandre commented on #9
Hi @Alecyrus,

The max feature is now released! Check the https://antoniandre.github.io/splitpanes/#horizontal-layout example.
Cheers.

[2019-01-20 02:46] Alecyrus commented on #9
Awesome!  Good job 😃

[2019-01-20 02:46] #9 closed

[2019-01-28 17:09] m-mohr opened #13 "watch-slots option causes a complete refresh [Duplicate]"
I have a component that works wonderfully without Splitpanes. Unfortunately, if I wrap these with the SplitPanes component, the props won't be passed any longer. The splitter itself works nicely, but all the components inside the panels don't work well any longer. What's happening there and how can it be fixed? Thanks!
[code]

[2019-01-28 17:17] tandrew commented on #13
@m-mohr: Sounds similar to a previous issue with reactive properties [#3](https://github.com/antoniandre/splitpanes/issues/3).
I am also having reactivity issues [#7](https://github.com/antoniandre/splitpanes/issues/7) with this control and have held back from deploying it so far.

Let's hope @antoniandre can address these issues soon.

[2019-01-30 18:52] jlpospisil opened #14 "watch-slots option causes a complete refresh"
If watchSlots is true, any change in the slot(s) causes a complete refresh.  If I manually resize the panes, I would like them to stay where I have put them even if the data in a slot changes.

[2019-01-30 22:51] antoniandre commented on #13
Hi guys,
Thanks for your feedbacks, I know this is a big limitation, I will work on that shortly.
Please follow up in #14.

[2019-01-30 22:51] #13 closed

[2019-01-30 22:52] antoniandre commented on #14
Hi @jlpospisil,
Thanks for your feedback, I understand the issue and will work on that soon.
Original issue: #7.

[2019-01-30 22:57] antoniandre commented on #8
Remaining problem in this issue is related to #14, please follow up in there.

[2019-01-30 22:57] #8 closed

[2019-02-02 05:13] antoniandre commented on #14
Hi @jlpospisil,

I have released version 1.11.1 that should fix this.
Let me know if anything still doesn't behave as expected.

[2019-02-02 05:13] antoniandre commented on #7
Hi @tandrew,

I have released version 1.11.1 that should fix this.
Let me know if anything still doesn't behave as expected.

[2019-02-02 14:59] jlpospisil commented on #14
@antoniandre Thanks!  Looks good.

[2019-02-02 14:59] #14 closed

[2019-02-03 22:12] tandrew commented on #7
Hi @antoniandre,
Looking good so far!

Thanks a bunch. I shall keep you posted if anything else turns up 👍

[2019-02-06 01:11] antoniandre commented on #7
Hi @tandrew, if everything is still looking good I will close this issue!
We can reopen later if we find something is not right.

[2019-02-06 01:11] #7 closed

[2019-02-06 07:58] tandrew commented on #7
Sure @antoniandre,
Thanks for this and will let you know if something else comes up.

[2019-02-07 17:16] tandrew commented on #7
Hi @antoniandre,
I am still experiencing issues. While it is now reactive, I am getting a lot of jitter when dragging a separator.

Try dragging the horizontal separator in this [CodePen](https://codepen.io/tandrew-the-bold/pen/ZVXvMP?editors=1111) and you will see what I mean.

Maybe something I am doing wrong here?

![feb-07-2019 18-13-13](https://user-images.githubusercontent.com/8017453/524294

[2019-02-11 13:24] enf644 opened #16 "Feature request: set splitpanes-min / max in px"
Thanks for great component.
Unfortunately minimum and maximum sizes are set only in presents. Would be nice to set it in pixels like splitpanes-min='20px' .
@antoniandre

[2019-02-12 10:52] tandrew opened #17 "Jittery jumpy separator on drag"
Hi @antoniandre,
Opening a new issue here based on my previous observations.

When using a reactive field, which changes upon resize changes, I am getting a lot of jitter when dragging a separator.

Try dragging the horizontal separator in this [CodePen](https://codepen.io/tandrew-the-bold/pen/ZVXvMP?editors=1111) and you will see what I mean.

Might be something I am doing wrong here. In that cas

[2019-02-12 15:32] enf644 commented on #16
Also would be nice to disable maximize function on double click.

[2019-02-12 23:16] antoniandre commented on #17
Thanks @tandrew for this reproduction link. I suspect reapplying width or height on changed slot is not fast enough while dragging... I'll have a look into the code to see what I can do.

[2019-02-15 10:30] enf644 opened #18 "Can't use <router-view/> inside a pane with watchSlots option"
[code]

I get error

And without watch-slots, **router-view** is not updated after route changed.

[2019-02-17 06:31] antoniandre commented on #18
Hi @enf644, version 1.11.2 should fix this.

[2019-02-17 11:11] kostaspapad opened #19 "Scrollbar inside panel"
I would like to use the css attr overflow: auto to one of the panels, I put the attr to the css .splitpanes__pane class but it is not working, any idea why?

[2019-02-18 05:20] antoniandre commented on #19
Hi @kostaspapad,
The `overflow: auto` is absolutely possible on on a pane, just add this rule:

[code]

Also make sure it is not overridden by another rule.

![image](https://user-images.githubusercontent.com/22971289/52929458-9e932600-3398-11e9-8d07-e4ee241f1f41.png)

[2019-02-18 19:08] kostaspapad commented on #19
Yes thank you

[2019-02-18 19:08] #19 closed

[2019-02-20 03:46] sbahr001 opened #20 "Disable drag"
Is there a way to disable dragging to make the pane fixed?

[2019-02-21 20:48] calebeaires opened #21 "Change values on computed with vuex dont update view"
When a value from vuex change, every value inside `<splitpanes>` is not updated, but when this same variable is outside splitepanes, the value is propagated

[code]

[code]

[2019-02-21 20:53] tandrew commented on #21
Try setting 'watch-slot' as described [here](https://antoniandre.github.io/splitpanes/#in-depth-reactivity) and see if that solves your problem.

[code]

[2019-02-21 21:00] calebeaires commented on #21
It solves, thanks!

[2019-02-21 22:25] antoniandre commented on #21
Thank you @tandrew

[2019-02-22 08:42] lost-xming opened #22 "Cannot do this. Double-click the splitter to maximize the next pane."
你好，我们正在积极使用着这个插件，但是使用过程中需要禁止掉双击拆分器事件，

在api 文档中并没有发现双击事件以及相关说明

[2019-02-24 22:19] antoniandre commented on #22
??

please write in english.

[2019-02-25 01:30] #21 closed

[2019-02-25 02:57] lost-xming commented on #22
Cannot do this. Double-click the splitter to maximize the next pane.

Hello, we are actively using this plugin, but we need to disable the double click splitter event during use.

No double-click events and related instructions were found in the api documentation

[2019-02-25 04:06] antoniandre commented on #22
Hi @lost-xming,

This is now an option in version 1.12.0.
Add this attribute: `:dbl-click-splitter="false"`

Please refer to this example: https://antoniandre.github.io/splitpanes/#horizontal-layout

Hope this helps.

[2019-02-25 04:09] antoniandre commented on #20
Hi @sbahr001, this is currently not possible, I will keep this feature in mind for the next versions.

[2019-02-27 10:44] Narretz opened #23 "Cannot resize pane in Firefox + Touch Screen"
I have a Lenovo Yoga 460 (Windows) that has a touch screen. When I'm in Firefox, none of the resize functions work - not drag with mouse or touch, no double click. It does work in Edge and Chrome.
One key difference I found is that Firefox has window.ontouchstart, but Chrome and Edge do not.

[2019-02-28 11:31] Narretz opened #24 "Can't use watchSlots when pane contains a functional component (via vue-loader)"
splitpanes throws an error when I have a functional template:

[code]

[code]

That is compiled with vue-loader.
It does not happen when I have a functional component with render function.

[2019-03-08 13:55] MagicKriss opened #25 "Pane snaps back when class is changed inside it on @resized event"
Hi, @antoniandre
I am having a resize problem similar to the one described in here #7
What I have found is that triggering class change on `@resized` (with '**d**') snaps the pane size back to original state.
I have created a code pen to display the problem
`@resized` snaps back:   https://codepen.io/anon/pen/xBdJGW

[2019-03-09 03:17] antoniandre commented on #22
Closed for inactivity.

[2019-03-09 03:17] #22 closed

[2019-03-09 03:23] antoniandre commented on #24
Hi @Narretz,
Can you please provide more code as I can't reproduce? A codepen or codesandbox would be most helpful.

[2019-03-09 03:34] antoniandre commented on #23
Hi @Narretz,
I was foreseeing this would happen. 😅
I detect `hasTouch = 'ontouchstart' in window` on load then add the the event listener accordingly:

[code]

I'm gonna add all the event listeners to see if this can help and will let you have another try.

[2019-03-10 02:29] antoniandre commented on #23
Hi @Narretz,
I have published version 1.12.1.
It should fix the double tap on splitter, and hopefully the dragging ability on firefox. Please test and let me know.

[2019-03-10 02:34] antoniandre commented on #18
Closed for inactivity. Please reopen if issue is still not solved.

[2019-03-10 02:34] #18 closed

[2019-03-10 04:30] antoniandre commented on #25
Hi @MagicKriss,
I have modified your codepen slightly: https://codepen.io/antoniandre/pen/wOeRKo?editors=1010,
then realised yours seems to be working fine too.
The only thing that I think have changed is the version of splitpanes in use in codepen, now it is the latest, but it could have been cached to a previous version from unpkg at the time you had the bug.
Let me know if it is solved now.

[2019-03-10 04:39] antoniandre commented on #16
Hi @enf644, Sorry for late answer.
Thank you for your feedback and idea, this would indeed be a convenient feature.
As it will require a whole rethinking of the internal calculations, I will keep this in mind for a later version of Splitpanes.

[2019-03-11 09:16] Narretz commented on #23
Hi, it works now in Firefox with mouse and even with touch. Thanks!

[2019-03-11 09:16] #23 closed

[2019-03-11 09:18] antoniandre commented on #23
Awesome 👌

[2019-03-11 10:53] MagicKriss commented on #25
Thanks, I guess I had installed some previous version with yarn add.
Updating solved this problem, thanks!

[2019-03-11 10:53] #25 closed

[2019-03-11 13:19] MagicKriss opened #27 "Wrapping nested splitpane into div breaks resizing"
Hi,
It seems that wrapping nested splitpane into a div break the resize functionality.
An example in codepen - splitter between divs 3 and 4 don't resize.
https://codepen.io/anon/pen/oVeQeq

[2019-03-11 15:06] blinkingmatt opened #28 "Drag position not offset by scroll position"

[2019-03-11 15:10] gx7879 opened #29 "Can I dynamically set the width or height of div？"
When I click div,I will get this div's info, and I want to change value, but nothing happend

[2019-03-11 15:12] blinkingmatt commented on #28
When the splitpanes containing element is scrolled (e.g. vertical splitpanes in horizontally scrolled element) drag (resizer) position jumps to (start drag position - scroll position).
See:
[https://codepen.io/blinkingmatt/pen/bZrymx]

[2019-03-12 10:56] blinkingmatt commented on #28
Solution could be to adapt getCurrentMouseDrag()

[code]

[2019-03-15 14:48] MagicKriss commented on #27
I guess the solution would be just setting the height and width for the container to 100%.
https://codepen.io/anon/pen/zbWWXg

[2019-03-15 14:48] #27 closed

[2019-03-20 03:06] nayils opened #30 "Vue splitpanes resizing"
Hi! I use splitpanes. But it does not have the ability to resize programmatically, just set the default value. Is it possible to do something so that splitpanes can resize by programmatically?

For example, so that when I click on a button, I can hide the left panel, or change its size.

[2019-03-26 13:32] antoniandre commented on #30
Hi @nayils this is now possible in version 1.14.1. https://antoniandre.github.io/splitpanes/#programmatic-resizing

[2019-03-26 13:33] antoniandre commented on #29
Hi @gx7879 this is now possible in version 1.14.1. https://antoniandre.github.io/splitpanes/#programmatic-resizing

[2019-03-31 07:37] hnviradiya opened #32 "Floating horizontal panes when in mobile view"
Is there any configuration possibility that, when splitter is in mobile view horizontal panes can be converted to vertical.

Because this way we can add responsiveness in different way.

So that only one pane per row.

E.g.
In desktop view
1-2-3
Becomes following in mobile view
1
2
3

But only if it is configured by some configuration option so that people who don't want to do this can keep as it

[2019-04-03 19:37] ChuckFields commented on #24
I'm experiencing a similar issue. I've reproduced it here:
[https://codesandbox.io/s/xpp9k24o34](https://codesandbox.io/s/xpp9k24o34)

[2019-04-11 07:28] heyi1234 opened #33 "这个<splitpanes>元素下使用v-for，当数组push时，不能动态触发更新"

[2019-04-13 05:16] antoniandre commented on #33
In english please.

[2019-04-16 06:53] antoniandre commented on #28
Hi @blinkingmatt,
Thank you for reporting, this is now fixed in version 1.14.2.
Sorry for the long wait!

[2019-04-16 06:53] #28 closed

[2019-04-16 06:55] antoniandre commented on #30
Closing the issue as resolved. Please reopen if not fixed.

[2019-04-16 06:55] #30 closed

[2019-04-16 06:56] #29 closed

[2019-04-16 07:01] nayils opened #34 "Feature request: Event dynamic size"
You have added cool functionality for the dynamic size of the panels. When changing the size, the panels smoothly change their size. It is beautiful. But could you add an event when the tween has ended? That is, when the panel has already taken the value of a given size?

[2019-04-16 07:31] blinkingmatt commented on #28
Nice,

Regards,
Matt

Von: Antoni <notifications@github.com>
Gesendet: Dienstag, 16. April 2019 08:53
An: antoniandre/splitpanes <splitpanes@noreply.github.com>
Cc: Matthias Kirst <matthias@blink-dx.com>; Mention <mention@noreply.github.com>
Betreff: Re: [antoniandre/splitpanes] Drag position not offset by scroll position (#28)

Hi @blinkingmatt<https://github.com/blinkingmatt>,
Thank you for repo

[2019-04-16 08:01] mrQ000 opened #35 "cascaded splitpanes with a vuetify v-tabs/v-tab in inner splitpanes breaks reactivity"
seems to be some incompatibility with vuetify.
i prepared a minimum setup to explain and reproduce this issue:

https://codepen.io/mrQ_/pen/KYNVwa

[2019-04-16 09:09] mrQ000 opened #36 "documentation - css selector should be more precise"
original:
[code]
above code will select any span at any level below .splitpanes__pane,
but the selector should apply to immediate childs of splitpanes__pane only.

suggested modification:
[code]

[2019-04-22 18:29] calebeaires opened #37 "Reactive prop update within child component"
Props within a child component are not being updated even if using watch-slots. Here is how I am using splitpane:

[code]

Vue script code:
[code]

[2019-04-23 14:03] jdus opened #38 "Dealing with circular references and JSON.stringify"
Hi,
I have also run into problems with JSON.stringify not allowing circular references. This leads to an error because it is used when computing the slots to export in the render function.
I'm using quasar and to me it happened when I was using a custom quasar-directive "v-scroll" which is translated internally to "__qscroll". Obviously this is not part of the "discardProps" array, which holds all

[2019-04-25 17:23] pprzetacznik opened #39 "Programmatic resizing doesn't update model"
@antoniandre
I found two problems with splitpanes. I've published my code here: https://codesandbox.io/s/o4247q0jjz

1. I need to embedd my code inside `<no-ssr>` tag. If not, I see `window is not defined
` error. You can see this error by clicking 'Check how it works without no-ssr' link on the index page.
![image](https://user-images.githubusercontent.com/2965785/56755043-db134180-678e-11e9-8b71

[2019-04-25 22:26] pprzetacznik commented on #39
I've added PR with `(typeof window !== 'undefined')` condition in splitpanes component so the first point is fixed and doesn't require `<no-ssr>` tags anymore but the second problem still occurs.

https://github.com/antoniandre/splitpanes/pull/40

[2019-04-29 06:42] antoniandre commented on #39
Hi @pprzetacznik,
Thank you for your reproduction link, it makes things easier.
You should use the `no-ssr` tag if you use Nuxt, this library has no purpose or benefit from running in server-side.
This is only for client side. Therefore checking for window is irrelevant.

I forked your codesandbox and modified it to bind the slider to the paneSize value.
https://codesandbox.io/s/1467k3z0jq
Basical

[2019-04-29 09:11] pprzetacznik commented on #39
Thanks @antoniandre!

Your solution is really cool. I've also added to the example the attribute `@resize="updatePaneSize2"` and method:
[code]
to have the slider sliding while resizing the pane.

[2019-04-29 09:11] #39 closed

[2019-05-02 04:45] cryingnavi opened #41 "How to inside to use v-if, v-show?"
[code]

inside v-if, v-show not working... how to use that??

[2019-05-05 19:55] onekiloparsec opened #42 "Splitpanes prevent inside canvas to be updated / redrawn"
This is by far the best splitpanes lib in town! Unfortunately, my middle pane contains 2 canvas where I draw a lot of things. But they seem to never redraw when put inside splitpanes.

I thought it was the same problem as the one describe in #21 But even when adding `watch-slots` as attribute of `splitpanes`, my canvas don't get updated. Any idea ? Thanks a lot!

[2019-05-06 04:51] antoniandre commented on #41
Hi @cryingnavi, you have to use the `watch-slots` property for that.
ref: https://antoniandre.github.io/splitpanes/#in-depth-reactivity

[2019-05-06 05:08] antoniandre commented on #38
Hi @jdus,
Thanks for your feedback.
You are right, you understood the whole problem at stake.
When I started this library I thought it would be great if users could write whatever they want in a splitpanes wrapper and don't bother with splitters.
To allow that, I add the splitters on the fly in a render function. As this is modifying the DOM, there was no problem until someone discovered the react

[2019-05-06 05:10] antoniandre commented on #38
@tandrew, adding you here FYI.

[2019-05-11 16:58] pprzetacznik opened #43 "Resetting size of panes after data change"
I've seen similar bugs in the history of issues but this may be some unknown edge case not reported yet. Bug shows only when attribute `watch-slots` is used.

Example: https://codesandbox.io/s/54xm1m42wn
1. Double click on splitter so 2nd pane is at full size (as shown at the picture)
![image](https://user-images.githubusercontent.com/2965785/57572726-0056af80-741f-11e9-9b25-6c040e9ca0a8.png)
2. M

[2019-05-13 09:24] pprzetacznik commented on #43
@antoniandre I've noticed that `pane.savedWidth` is set incorrectly after maximizing pane.

[2019-05-22 19:57] alexanderVu commented on #42
Have the same problem. The component is not useable!

[2019-05-22 20:24] davidlbean opened #44 "Overriding default styling?"
First:  this is a super component!  You've saved me a ton of time and effort.

Question:  I can't seem to restyle the component when doing it within a single file component structure.  I tried inserting the styles from the fat-fingered example, and there is no effect...regardless of whether the splitpanes component itself gets the 'default-theme' class.

Apologies for posting this kind of question

[2019-05-22 20:40] davidlbean commented on #44
Some more detail.  I was able to get the example for 'do your own style' working, but not all of it.

My component:
[code]
screen shots of the resulting browser window and the css styles.
![Screen Shot 2019-05-22 at 2 38 39 PM](https://user-images.githubusercontent.com/761525/58207175-61904580-7c9f-11e9-9e22-eb93b32ed7fa.png)
![Screen Shot 2019-05-22 at 2 38 51 PM](https://user-images.githubuserco

[2019-05-22 22:23] davidlbean commented on #44
Figured it out:  was using <style scoped> in my component...duh...<style> works fine now.

[2019-05-22 22:23] #44 closed

[2019-05-29 08:04] Gnopps opened #45 "Setting splitpanes-size in pixels"
Great work with this, thank you!

I'd like to set the default size for a pane with splitpanes-size in pixels, and that the second pane then fills the remaining width in %. Is this possible?

[2019-05-29 14:07] GLeBaTi opened #46 "Installation"
Hello. How can i use this in my project?
By tutorial i was add this to header:
[code]
And trying using in my code:

[code]

But this not working:

[2019-05-29 14:17] GLeBaTi commented on #46
https://jsfiddle.net/mrgjLdnh/
this is also not working

[2019-05-29 15:08] antoniandre commented on #46
Hi @GLeBaTi,
Simple, you need to mount Vue on a tag first.
Have a look here: https://codepen.io/antoniandre/pen/XybPKP

[2019-05-29 15:11] antoniandre commented on #45
Hi @Gnopps, this is currently not possible, but I might add it in a future version.
Please watch the changes (and continue the thread if needed) in this issue: #16
Thanks.

[2019-05-29 15:11] #45 closed

[2019-05-29 15:11] #46 closed

[2019-05-29 15:11] #33 closed

[2019-05-29 15:13] #41 closed

[2019-05-29 15:29] antoniandre opened #47 "Watch-slots related issue: not updating vars or JSON circular reference error"
I am aware of this error and explained it here: #38.
I am considering to do a new version when I will have some time.

Until then if you face this issue, consider it as a limitation or do a pull request to fix it.

Please refrain yourself from creating other issues about this.

[2019-05-29 15:32] antoniandre commented on #42
@onekiloparsec,
Thank you for your feedbacks.
Please continue discussion and watch changes in #47.
Unfortunately the component needs to be rebuilt to fix this.

[2019-05-29 15:32] #42 closed

[2019-05-29 15:32] #38 closed

[2019-05-29 15:33] antoniandre commented on #37
Thank you for your feedbacks.
Please continue discussion and watch changes in #47.

[2019-05-29 15:33] #37 closed

[2019-05-29 15:35] antoniandre commented on #35
Thank you for your feedbacks.
Please continue discussion and watch changes in #47.

[2019-05-29 15:35] #35 closed

[2019-05-29 15:35] antoniandre commented on #24
Thank you for your feedbacks.
Please continue discussion and watch changes in #47.

[2019-05-29 15:35] #24 closed

[2019-05-29 16:58] Gnopps commented on #45
Thanks for your answer! I didn't write in that other thread as I thought it was only for max/min, not default.

[2019-05-30 17:29] eladyaniv01 opened #48 "Radio buttons dont emit values properly, when inside splitpanes"
It's really hard to reproduce this bug on the fly,
but my radio form did not work properly,  until i removed the splitpanes wrapper
hope this helps

[2019-06-14 15:55] KezeiZ commented on #43
I am also encountering this issue. Using spitpanes to display multiple SortableJS/Vue.Draggable lists. Upon re-ordering a list with dynamic data (with watch-slots enabled) the pane will resize to the default size.

[2019-06-14 19:37] pprzetacznik commented on #43
@KezeiZ probably this change helps afair https://github.com/antoniandre/splitpanes/pull/49/commits/42dc79a7e91ee7978c9080a09bc70dd9a2a4977b

[2019-06-24 19:31] Jakob-Maudience commented on #16
I was just looking to see if either of these were possible, both setting the width in pixels, and disabling the maximize on double click.

👍 x2 watching this thread.

[2019-07-04 10:38] IDONKN opened #50 "I dont know what happen"
rror in render: "TypeError: Converting circular structure to JSON
    --> starting at object with constructor 'HTMLDivElement'
    |     property 'swiper' -> object with constructor 'Swiper'
    |     property 'params' -> object with constructor 'Object'
    --- property 'el' closes the circle"

[2019-07-05 02:46] IDONKN commented on #50
I am trying to use vue-awesome-swiper in splitpanes but it just got error

[2019-07-11 08:58] badders opened #51 "Nested planes with watch-slots cause browser to hang"
I have  set of nested splitpanes that contain dynamic ui elements:

<splitpanes> (ill refer to this as outer)
  <splitpanes horizontal v-for="col in columns> (ill refer to this as inner)
    <component v-for="item in col"  :is="item.name" />
 <splitpanes>
</splitpanes>

Columns is a 2d array of components, which Im using the correct vue reactivity bindings to update as i can confirm by doing the s

[2019-07-16 16:42] gsqrt2 opened #52 "Resize & Resized events return ghost (deleted) panes"
Hello @antoniandre and thank you for a great module!

Description:
I have noticed that the resize & resized events return panes in the $event data that might no longer exist. This occurs when panes are reactively removed, because the component internal array panes[] is never sliced down.

Reproduction:
An easy way to reproduce the problem is by adding a "remove pane" button in the [# Adding splitt

[2019-07-23 19:30] vanhumbeecka commented on #32
I'm looking at the same problem. I want 2 panes, but depending on the parent container, the splitter should be vertical or horizontal.

In short:
- when 'landscape' layout --> default to "Vertical splitter"
- when in 'portrait layout --> Change responsively to "Horizontal splitter"

Is there an easy solution to this? Would be very nice to have.

[2019-07-24 16:31] hnviradiya commented on #32
awesome. can be managed. closing. thanks.

[2019-07-24 16:31] #32 closed

[2019-07-25 16:14] evgencode commented on #47
The same problem.
Nested component can't watch a props((

[2019-07-30 10:10] xiaolee55 commented on #43
Is this question solved?

[2019-07-30 10:12] xiaolee55 commented on #43
I am troubled by this problem now @pprzetacznik  Help me ,manito !

[2019-07-31 14:26] xiaolee55 commented on #43
Oh,My God!I have solved this,It turns out that the author did not upload the latest version to NPM

[2019-07-31 16:51] Jakob-Maudience commented on #43
Any idea when the version will be bumped and uploaded to npm?

[2019-08-01 07:02] xiaolee55 commented on #43
@Jakob-Maudience,You have to ask the author,but In fact  the merged Coding will create a new problem---we can't use the  prop "splitpanes-size" to change the size of panes(In addition to the initial value)

[2019-08-01 07:08] xiaolee55 commented on #43
Instead of waiting the author ,you could change 'paseFloat(paneSizeInDOM)' to 'paseFloat(width)' in the Line 546 in node_module/splitypanes/splitpanes.common.js  by yourself

[2019-08-16 19:15] bhoriuchi commented on #1
I am having this issue, see codepen https://codepen.io/bhoriuchi/pen/NWKrNbb

The checkbox enables/disables panes.

Example to reproduce
1. Select Child1 - right pane does not update
2. Uncheck Use Panes - Child1 component is displayed
3. select Use Panes - child one is still displayed
4. Select child 2 - Child1 still displayed

[2019-08-19 04:14] mudin opened #56 "TypeError: discardProps.contains is not a function"
I am having the issue `TypeError: discardProps.contains is not a function`.
Is there something changed?

[2019-08-19 04:28] mudin commented on #47
is there any updates?

[2019-08-19 11:03] antoniandre commented on #56
My bad. Should be fixed in version 1.14.5

[2019-08-19 11:24] antoniandre commented on #47
Version 1.14.5 has a different JSON replacer. Please try and let me know.
If it does not fix, please report here too.

Please note I can merge PRs and do small modifications but don't have time for big refactoring like this issue might require.

[2019-08-19 11:24] antoniandre commented on #50
Same as #47

[2019-08-19 11:24] #50 closed

[2019-08-19 11:27] antoniandre commented on #48
Splitpanes needs the property watch-slots to be reactive.
If that does not fix it, then this is the same issue as #47

[2019-08-19 11:27] #48 closed

[2019-08-19 11:31] antoniandre commented on #43
It is now. version 1.14.5.
If still not fixed, this is still the same issue as #47, please report there.

[2019-08-19 11:39] antoniandre commented on #36
This does not matter at all. It is only an example of how to style. It is intended to be a simple example that anybody can understand. To be modified according to context.

[2019-08-19 11:39] #36 closed

[2019-08-19 22:03] davidlbean commented on #47
Hmmm...I think I'm running into this issue with 1.14.5 -- I've got a dynamically rendered component inside a splitpane and it won't render.  If I move it out of the splitpane, it works fine.  Only adding this to offer a data point -- I'm super grateful for the package, @antoniandre !

[2019-08-20 02:47] mudin commented on #56
@antoniandre thanks I will check it

[2019-08-20 02:51] mudin commented on #56
This issue is fixed in version 1.14.5, but `watch-slots` is not working well

[2019-08-31 17:50] hnviradiya commented on #19
seems. there is something wrong still. vertical scrollbar is showing up and horizontal scrollbar is not working. Obviously should be fixed with css only and cannot be issue with splitpanes. but not able to figure out, what strange is happening.

I have edited your codepen to following.

https://codepen.io/hnviradiya/pen/JjPyvxx

where overWidth class is having 3000px width and still not showing ho

[2019-09-12 15:25] nurkkala opened #57 "Question: Event propagation"
First off, this is a beautiful package. Thank you!

When I wrap Vue components in Splitpanes, it appears that events sent with `$emit` no longer propagate. This seems true even when I add a `v-on` directive to `splitpanes` itself. Is this the intended behavior? Am I doing something wrong?

[2019-09-12 16:39] kalex375 opened #58 "Component prevent update router-view"
I am having the issue when I wrap router-view into splitpanes. The nested  is not being updated
Looks like splitpanes prevent events or smth else.
You can find exmaple here in [Codesandbox](https://codesandbox.io/s/vue-template-1jlk2?fontsize=14). If you replace 'splitpanes' tag with div, view is being updated

[2019-09-17 10:54] Zosimov commented on #58
Works if you pass the "watch-slots" option to splitpanes:
`<splitpanes watch-slots ...></splitpanes>`

[2019-09-18 09:59] #58 closed

[2019-09-21 12:02] franciscolourenco commented on #43
Having the same issue. With `watch-slots`, `splitpanes-size` is re-applied every times a child is updated. So it doesn't work like initial size, but as the current size.

[2019-09-27 03:07] chen-ABC opened #59 "vue warn : infinite update loop"
vue version: 2.5.17
splitpanes version: 1.14.5
code:
![image](https://user-images.githubusercontent.com/30097790/65739187-fbb53e00-e116-11e9-9d87-a29141302e0f.png)

result:
![image](https://user-images.githubusercontent.com/30097790/65739215-096ac380-e117-11e9-85ce-825f5b33adac.png)

[2019-09-29 22:45] #57 closed

[2019-10-09 03:55] antoniandre commented on #59
Hi @chen-ABC,
I am not sure how it ended up with this infinite loop with this code, but please do install the new V2 that should fix this issue (#60, thanks to @jonathan-roy).

Let me know if this fixes the issue.

[2019-10-09 03:58] antoniandre commented on #51
Hi @badders,
I understand this issue is related to the known reactivity issue #47, which should now be fixed in the new Version 2 (refer to #60, thanks to @jonathan-roy).
Please give it a try and let me know if it fixes this issue.

[2019-10-09 04:00] antoniandre commented on #47
Hi @evgencode, @mudin, @davidlbean, and everybody.
This known issue now have a fix in the new Version 2 (refer to #60, thanks to @jonathan-roy).

Please give it a try and let me know if it's all good!

[2019-10-09 04:03] antoniandre commented on #43
Hi @pprzetacznik, @Kezzei, @xiaolee55, @Jakob-Maudience, @franciscolourenco, and everybody,

This issue is related to the known reactivity issue #47, which should now be fixed in the new Version 2 (refer to #60, thanks to @jonathan-roy).
Please give it a try and let me know if it fixes this issue.

[2019-10-09 04:06] antoniandre commented on #56
Hi @mudin,
This issue is fixed, closing the issue then.

Regarding watch-slots, this issue is related to the known reactivity issue #47, which should now be fixed in the new Version 2 (refer to #60, thanks to @jonathan-roy).

Please give it a try and let me know in #47.
Cheers.

[2019-10-09 04:06] #56 closed

[2019-10-09 04:35] antoniandre commented on #17
Hi @tandrew, this is now solved... Yay!
https://codepen.io/antoniandre/pen/dyyoNeY?editors=1111

This issue was fixed in the V2. (ref. #60, thanks to @jonathan-roy)

[2019-10-09 04:36] antoniandre commented on #17
PS: Please check the release notes and how to install again. https://antoniandre.github.io/splitpanes/#release-notes

[2019-10-14 01:19] chen-ABC commented on #59
There was no problem in the vue version 2.6.10

[2019-10-14 01:19] #59 closed

[2019-10-14 01:19] chen-ABC commented on #59
install the new V2 (2.6.10+)

[2019-10-18 18:00] zim32 opened #61 "Wrong initial sizes"
Just setup basic Vue project using vue-cli, add some panes, specify size, but when page loads every pane's height is distributes evenly (33%) when I try to resize pane "Pane 1" it's height will jump and resize to 10% like specified...

What can be wrong?

[code]

[2019-10-21 23:27] antoniandre commented on #43
Hi @pprzetacznik, this is now fixed in V2: https://codesandbox.io/s/example-splitpanes-editor-b2l4y.
Closing the issue now.

[2019-10-21 23:27] #43 closed

[2019-10-21 23:29] antoniandre commented on #17
Closing the issue as fixed now.

[2019-10-21 23:29] #17 closed

[2019-10-23 22:42] antoniandre commented on #61
Hi @zim32,

Have you tried setting a pane default `size` (https://antoniandre.github.io/splitpanes/#default-pane-width)?

Here is an example: https://codepen.io/antoniandre/pen/GRRWbgZ

Hope it helps.

[2019-10-24 14:37] victory-v opened #62 "Wrong types for Splitpanes and Pane"
Please, fix wrong register in @types/splitpanes: it should be `Splitpanes` instead of `splitPanes`, otherwise there's an error:
`Module '"some-path/node_modules/@types/splitpanes"' has no exported member 'Splitpanes'. Did you mean 'splitPanes'?`

Also there's an error:
`Module '"some-path/node_modules/@types/splitpanes"' has no exported member 'Pane'`
It would be great if you'd help me with that t

[2019-10-25 08:39] #62 closed

[2019-10-25 16:30] xeroxstar opened #63 "Example with the reactive touch zone do not work"
Hey,  the reactive touch zone do not work with the given example, i tried EVERYTHING (literally everything) and NOTHING worked, here is an example from the demo page:

[code]

and then it i put the css:
[code]

Does not work, then i went to node_modules and changed the css file, it will not react to css change, so i have created an [online example](https://codesandbox.io/s/vue-template-5pjct) to p

[2019-10-28 02:44] antoniandre commented on #63
Hi @xeroxstar,

The reason why it does not work in your example, but it works in the Codepen example https://codepen.io/antoniandre/pen/XxRZmB and in the documentation, is that you have the CSS class `default-theme` on your splitpanes tag, which overrides the styles you are setting in your example.

Makes me realise that the code source of this example in the documentation also has this class. Thi

[2019-10-28 02:44] #63 closed

[2019-11-03 02:37] antoniandre commented on #61
Closing for inactivity, please reopen if not solved.

[2019-11-03 02:37] #61 closed

[2019-11-03 02:38] antoniandre commented on #51
Closed for inactivity, please reopen if not solved.

[2019-11-03 02:38] #51 closed

[2019-11-03 02:40] antoniandre commented on #47
This issue should be fully solved now. I'm closing it, please reopen if not solved.

[2019-11-03 02:40] #47 closed

[2019-11-04 07:45] Patrick-Spiegel commented on #61
I can confirm that this is an actual issue, but I have not been lucky yet to make a not working codepen.

[2019-11-06 10:31] helpceo opened #64 "IE11 does not support version 2.0 after the upgrade?"
IE is supported at 1.45.What's the problem?

Because before method IE does not support.
solution: rewrite before().

     Object.defineProperty(child, "before", {
          configurable: true,
          enumerable: true,
          writable: true,
          value: function before() {
            var argArr = Array.prototype.slice.call(arguments),
              docFrag = document.createDocumentFragm

[2019-11-07 01:19] helpceo commented on #64
error:Error in mounted hook: "TypeError: 对象不支持“before”属性或方法"

[2019-11-07 02:20] helpceo commented on #64
solution:  Object.defineProperty(child, "before", {
              configurable: true,
              enumerable: true,
              writable: true,
              value: function before() {
                var argArr = Array.prototype.slice.call(arguments),
                  docFrag = document.createDocumentFragment();

                argArr.forEach(function(argItem) {
                  var isNode

[2019-11-14 11:16] I-Vargas commented on #64
@antoniandre will you be restoring support for IE11 with a version 2.1.0 or will it be dropped? The currently README.md because it says it supports IE10+

[2019-11-15 01:44] antoniandre commented on #64
Hi guys I would like to fix this but I have no windows machine at the moment so it's quite hard to test, plus I actually don't know the error, so @helpceo can you please give an explanation about:

1. What is the error
2. What is the code to reproduce
3. What is this fix, since the given code is in the webpack generated code I have no clue what you are talking about

Cheers.

[2019-11-15 20:01] amir20 opened #65 "Pane doesn't resize correctly after pane deletion"
Hello,

I am not sure if I have discovered a bug. But when I go from two panes to one, then the width of the remaining pane is still 50%.

My code looks like this:

[code]

After adding a new pane it looks like this.

<img width="1676" alt="Screen Shot 2019-11-15 at 12 00 13 PM" src="https://user-images.githubusercontent.com/260667/68971951-8b827a80-079f-11ea-9c5c-2a24d2174876.png">

However, afte

[2019-11-15 20:56] amir20 commented on #65
I went through the code a little and it's unclear how `this.$children` is watched for changes. Let me know @antoniandre how I can help debug.

[2019-11-15 21:38] amir20 commented on #65
Here is a codepen to reproduce problem https://codepen.io/antoniandre/pen/XybPKP

[2019-11-16 07:38] jonathan-roy commented on #64
Hi guys!

Since [ChildNode.before](https://developer.mozilla.org/en-US/docs/Web/API/ChildNode/before) is still experimental, I guess the issue comes from the line [src/components/splitpanes/splitpanes.vue:301](https://github.com/antoniandre/splitpanes/blob/4617d17a767361463f3471c8f0fff3c3cfffec7f/src/components/splitpanes/splitpanes.vue#L301) :
[code]

@helpceo, @I-Vargas, could you try replacing

[2019-11-17 15:48] xiaolee55 commented on #52
I encounter this problem,too

[2019-11-17 23:02] antoniandre commented on #65
Hi @amir20, Thanks for reporting.
Yes this is a new bug, I will look into that soon and will let you know.

[2019-11-18 10:04] helpceo commented on #64
I have given the solution above, because the before method IE does not support

[2019-11-18 10:11] helpceo commented on #64
Please refer to the solution I gave you above. I have tried your solution before

[2019-11-18 10:25] helpceo commented on #64
@antoniandre  The package build command here is also incorrect, and hopefully the next release will improve these issues

[2019-11-18 11:08] Blightysoft opened #66 "It seems that 'splitpanes-size' is now broken"
Firstly, excellent work on this.

I think I've found a bug in version 2. The splitpanes-size prop seems to have no effect anymore:

		<splitpanes class='default-theme' vertical>
			<pane splitpanes-size='20'>
				<span>1</span>
			</pane>
			<pane>
				<span>2</span>
			</pane>
		</splitpanes>

Or am I making a mistake somewhere? Thanks.

[2019-11-18 11:56] jonathan-roy commented on #66
Hi @Blightysoft,

Since v2.0.0 the `splitpanes-size` attribute is now `size`, since it applies to a `pane` element it would be redundant to prefix it with `splitpanes-`.

[code]

[2019-11-18 20:14] amir20 commented on #65
Thanks @antoniandre. I'd imagine this a major bug. Let me know if I can help.

[2019-11-18 20:29] Blightysoft commented on #66
Ah, I foolishly skipped to the bottom and saw the 1.14 release notes. That'll teach me. Thanks!

[2019-11-18 22:34] antoniandre commented on #66
Thanks for your help @jonathan-roy, and totally agree with that.

Let's close this issue then.

[2019-11-18 22:34] #66 closed

[2019-11-20 15:53] xiaolee55 commented on #65
I get this bug ，too

[2019-11-20 22:23] antoniandre commented on #64
@helpceo what's wrong with the build-bundle command?
If you want to help please write explicit messages

[2019-11-21 13:06] kuznetz opened #67 "Resize reversed after prepend pane via v-if"
Example: https://codepen.io/kuznetz/pen/abbMREP

[2019-11-24 07:10] antoniandre commented on #64
Thanks for your help @I-Vargas. This issue should be solved now in version 2.1.0.

[2019-11-24 07:20] antoniandre commented on #65
Hi @amir20, thanks for suggesting help, I started to look into that, the problem at the moment is that after a deletion occurs, the blank space should not be just distributed to all the other panes equally, but we should also check the min and max of each panes before applying new width/height to make sure we don't break the panes constraints.
E.g:
3 panes, 33.33%, 33.33%, 33.33%, first pane has a

[2019-11-24 13:02] #65 closed

[2019-11-24 13:17] antoniandre commented on #65
Hi @amir20, I published a patched (2.1.1) to fix this.
It will take in account the max size of each the current panes when allocating an equal share of the white space left after a pane deletion.
It will also try to keep panes collapsed if it can, and if the white space is too big to distribute only to expanded panes it will also expand the collapsed panes.

I will add a similar function to check

[2019-11-24 13:43] antoniandre commented on #52
Hi @gsqrt2, @xiaolee55,

This should now be fixed in version 2.
You can test it here: https://codepen.io/antoniandre/pen/poombWZ, delete a pane, resize panes and inspect the console log.

Let me know if it doesn't help for you.
Cheers.

[2019-11-24 13:43] #52 closed

[2019-11-24 13:53] antoniandre commented on #66
Thanks for your feedback @Blightysoft, also I have updated the release notes for v2 after reading your comment. 😅

https://antoniandre.github.io/splitpanes/#release-notes

[2019-11-24 14:05] antoniandre commented on #67
Thanks for reporting @kuznetz,
A quick way around it until I look into it is to add the pane with the v-if after the first one: https://codepen.io/antoniandre/pen/XWWwKxL

And another alternative to v-if here: https://codepen.io/antoniandre/pen/poombWZ

[2019-11-24 19:42] amir20 commented on #65
Thanks @antoniandre I'll try it this week.

[2019-11-24 23:17] antoniandre commented on #58
@kalex375, just for information, there's now an example in the docs for a router-view inside a pane: https://antoniandre.github.io/splitpanes/#vue-router :)

[2019-11-27 08:26] xiaolee55 opened #69 "When I drag the splitter,the pane will get smaller"
**To begin, It is two panes,like the follow code(now it is correct)**
![image](https://user-images.githubusercontent.com/37341547/69705699-06994880-1131-11ea-8b9d-1ee2eb91b880.png)
**Then I trigger some  event and It becomes the following(It is correct,too)**
![image](https://user-images.githubusercontent.com/37341547/69705805-3e07f500-1131-11ea-81ea-ae9c4a2f30a4.png)
**then I trigger event to the

[2019-11-27 11:02] antoniandre commented on #69
Interesting @xiaolee55, if you look at this example https://codepen.io/antoniandre/pen/poombWZ, I can't see any problem.

If you can reproduce what you say with the latest splitpanes version, then please share your full code so we can see what's going on.

[2019-11-28 14:11] xiaolee55 commented on #69
@antoniandre Thanks! I found I am not update the npm so that lead to this question,but I found  a new question, though it  do not influences the layout, as follows
![image](https://user-images.githubusercontent.com/37341547/69812457-214fe800-122b-11ea-803c-aa94daf07986.png)
you can look at the example https://codepen.io/Charklee/pen/oNNKyQd, when changing the status,
it will have error message in

[2019-11-28 14:12] xiaolee55 commented on #69
@antoniandre Thanks! I found I am not update the npm so that lead to this question,but I found a new question, though it do not influences the layout, as follows
image
![image](https://user-images.githubusercontent.com/37341547/69812946-2a8d8480-122c-11ea-9783-48335514ede2.png)

you can look at the example https://codepen.io/Charklee/pen/oNNKyQd, when changing the status,
it will have error messag

[2019-12-04 10:37] petersutter commented on #67
I also have the same issue

[2019-12-12 09:55] I-Vargas commented on #64
You should close this issue and update the `README.md` with the release notes for 2.1.0 and 2.1.1.

[2019-12-12 21:22] SebastienWae opened #70 "Direction switching doesn't update the panes style"
### Environment
**Splitpanes Version:** 2.1.1
**Browsers:** Chrome 78.0.3904.108 & Firefox 71.0
**OS:** Windows 10

### Steps to reproduce
Switch splitpanes from vertical to horizontal or horizontal to vertical

### Expected Behavior
The planes should move in the new direction and conserve their relative sizes.

### Actual Behavior
The planes are moving in the new direction but the sizes are set b

[2019-12-12 21:28] SebastienWae commented on #70
Currently, my solution is to manually switch the height and width every time I switch direction.

https://jsfiddle.net/fk756sdv/

[2019-12-13 20:45] petersutter opened #71 "Resize event when pane is added / removed programmatically"
When a pane is added or removed programmatically it would be nice if the resize (and/or resized) event is fired as the dimensions of the panes changes.

[2019-12-16 09:15] novrain opened #72 "Exclude core-js polyfill from package (?)"
please reference this issue:
[No way to not include core-js polyfills for libraries](https://github.com/vuejs/vue-cli/issues/1919)

[2019-12-16 23:09] #64 closed

[2019-12-17 00:03] antoniandre commented on #72
Hi @novrain,

I had a look at the output size after publishing a new patch to NPM here is the output, everything looks normal to me:

[code]

You can see the unpacked size is 847.6 kB, this is only the sum of the files listed above.
It does not mean that the production build of your app will include all that, you will only use the files `dist/splitpanes.common.js` and `dist/splitpanes.css` all the

[2019-12-17 14:18] calebeaires opened #73 "Error on hide/show pane with v-if"
Version: 2.1.2

The error
**Error in callback for watcher "panes": "TypeError: Cannot read property 'update' of undefined"**

Code position:

[code]
More info:
Using nested panes

[2019-12-18 02:52] novrain commented on #72
hi @antoniandre
If we exclude core-js, the size will be:

[code]
maybe you should just have a try, please.

In the bable.config.js

[code]

npm pulish

[code]

[2019-12-18 04:09] antoniandre commented on #72
Hi @novrain,
Thanks for the details, I tried it and it is indeed smaller in size and still transpiled, but what about IE10 support out of the box? I am not sure about it but can't test it as I don't have Windows.
By the way what is your use case? are you going to use this only on latest browsers or do you think of adding core-js yourself?

[2019-12-18 13:29] antoniandre commented on #71
Hi @petersutter,
Indeed, the `resized` event will be fired after pane is added/removed in the next release, will let you know.

[2019-12-18 13:30] antoniandre commented on #70
Hi @SebastienWae,

Indeed, this will be fixed in the next version. will let you know when ready

[2019-12-18 13:32] antoniandre commented on #67
Hi folks, I am currently working on it, will let you know when fixed.

[2019-12-18 13:38] novrain commented on #72
In vue cli3 project, the core-js is an default dependency in package.json
If echo componet lib such splitspane embed core-js again, it will be duplicate many times.

As for IE11,  if we run (even dose not exclude core-js)

`npm run serve`

then open splitspens in IE11, we will get this error:

`Object doesn't support property or method 'startswith'`

[2019-12-18 18:50] amir20 opened #74 "Applying default pane size on pane add/remove"
I think I have found a bug when hiding panes programmatically on the mobile.

I have something that looks like this:

[code]

All works fine. When I resize to smaller width, the second pane takes 100%. However, if load the page while the width is small, then the second pane will be 85%. Even though, only one pane is shown.

See screenshot of my dom below:
<img width="1263" alt="Screen Shot 2019-12

[2019-12-19 13:15] antoniandre commented on #74
Hi @amir20,
Thanks for reporting, this is actually the same bug as #67, I am currently working on a fix for that.
Please continue the discussion in #67 if you need to,
I will update in there when the fix is ready.

[2019-12-19 13:17] antoniandre commented on #73
Hi @calebeaires,
Thanks for reporting, this is actually the same bug as #67 (related to v-if), I am currently working on a fix for that and it will fix both issues.
Please continue the discussion in #67 if you need to,
I will update in there when the fix is ready.

[2019-12-19 13:17] #73 closed

[2019-12-20 04:37] #67 closed

[2019-12-20 04:42] antoniandre commented on #70
Hi @SebastienWae, This is now fixed in version 2.2.0.
https://antoniandre.github.io/splitpanes/#change-direction

[2019-12-20 04:42] #70 closed

[2019-12-20 04:46] antoniandre commented on #69
Hi @xiaolee55, This is now fixed in version 2.2.0.
https://antoniandre.github.io/splitpanes/#toggle-a-pane-with-v-if

Your same codepen will now work (double check that you hit the right splitpanes version 2.2.0 from the unpkg CDN if it does not)

[2019-12-20 04:46] #69 closed

[2019-12-20 04:49] antoniandre commented on #71
Hi @petersutter,
This is now available from version 2.2.0.
I also added 2 new events called `pane-add` and `pane-remove` please check the release notes for the few improvements in this version!
https://antoniandre.github.io/splitpanes/#release-notes

Hope it helps.

[2019-12-20 04:49] #71 closed

[2019-12-20 04:51] antoniandre commented on #74
Should now be fixed (same as #67).

[2019-12-20 04:52] antoniandre commented on #73
Should now be fixed (same as #67).

[2019-12-20 05:01] antoniandre commented on #72
Indeed, the `Object doesn't support property or method 'startswith'` error comes from the lack of polyfill, which made me realise the polyfill was missing on the documentation page. Thanks for that.

Now that it is added it should not say it when you visit the documentation on IE 11.

Now if I exclude the polyfill from the package, all the users will have the same problem on IE and they will need

[2019-12-20 05:11] antoniandre commented on #34
Hi @nayils, Sorry to take so long to answer.
I don't think I should put a callback after the animation ends, the default transition is set to 0.2s but people might override this transition or don't include the styles.

The callback would then fire at the wrong time.
So I think if you have this need, you can either remove this transition,
[code]

or set a timeout of the same amount from the `resize

[2019-12-20 05:11] #34 closed

[2019-12-20 08:55] novrain commented on #72
@antoniandre
Thank you!

[2019-12-20 18:45] amir20 commented on #74
Hi @antoniandre I checked with latest v2.2.0 and it doesn't look to be fixed. See screenshot

<img width="612" alt="Screen Shot 2019-12-20 at 10 43 38 AM" src="https://user-images.githubusercontent.com/260667/71283739-e450b000-2315-11ea-94b3-1bc27c05e9ae.png">

[2019-12-20 18:46] amir20 commented on #67
It doesn't seem to have fixed the problem for me. See #74 for screenshot.

[2019-12-21 15:48] xiaolee55 commented on #69
OK！It looks fine now,thanks

[2019-12-22 23:24] antoniandre commented on #74
Hi @amir20,

Sorry I misread the issue you reported, I did fix the fact that you can now toggle a pane with `v-if` and then resize it correctly, but I did not change the fact that if you have a default width you have to provide all of them.

So for now please do your workaround and I will allow setting only one default size and calculate the rest. I also need to check all the default sizes when ad

[2019-12-22 23:35] antoniandre commented on #67
Hi everyone, this issue should now be fixed in version 2.2.0.
The remaining issue reported by @amir20 is actually another one after this one.
So toggling a pane with `v-if` should work.

Please let me know.

btw @kuznetz, in your Codepen, the markup line `splitpanes.default-theme vertical` should be ` splitpanes.default-theme(vertical)`, which is actually the same as `splitpanes.default-theme` as

[2020-01-07 14:42] vabatta opened #75 "Add breakpoints / guide while resizing"
The request is to have breakpoints, or so called guides also, while resizing the panel so that it might resize to certain values "easily" than a normal one.
Let's say you want to have 3 panels which easily splits when they get close to 33% each, but you can still resize them to be not even.

[2020-01-08 21:26] calebeaires opened #76 "Panes always starts with size 50%"
On page load, panes does not obey the size property. On the example below I use two panes with the respective sizes: 20 and 80. When loading page, the pane is adjusted. Take a look at the GIF below:

![insigh](https://user-images.githubusercontent.com/794195/72017106-cd7de900-3243-11ea-970d-c87dd4b53126.gif)

How to make the pane starts with the defined sizes?

[2020-01-08 23:19] antoniandre commented on #76
Hi @calebeaires,
That's right, I refactored the library and then forgot to re-apply assigned sizes on load.
I'll get this fixed as soon as I have some time.

[2020-01-09 01:49] calebeaires commented on #76
Thanks to that. Hope on you. My project is entirely build on splitpanes.

[2020-01-09 04:35] antoniandre commented on #76
@calebeaires,
I just checked the initial load behavior and it's fine, so it must be after toggling or adding a pane dynamically like in this Codepen: https://codepen.io/antoniandre/pen/vYEmJjq
(Initial load is fine but after toggle it's back to 50%)

So this is the same issue as #74.

I'll have a look later today, will let you know when fixed.

[2020-01-09 14:54] antoniandre commented on #76
Hi @calebeaires, I released a hot fix that should solve your problem.
For that make sure you use the patch 2.2.1

I had to release an incomplete solution as this will require a lot more work.
I have started the refactoring in a branch but there are multiple scenarios of what the user may want when adding or deleting a pane, it could be:
- resize equally all the panes
- increase or decrease the nex

[2020-01-09 19:58] amir20 commented on #74
So is this fixed now because it's similar to $74?

[2020-01-10 17:00] calebeaires commented on #76
I have updated, tested too. Still with the same issue. I will wait to the next release. Thanks.

[2020-01-10 22:51] antoniandre commented on #76
Hi @calebeaires,
I will need your code to know what to fix then if your problem is different than the Codepen demo.
Please fork this Codepen and put your code.
Thanks.

[2020-01-10 23:07] antoniandre commented on #74
Hi @amir20,

I released a patch to fix the fact that when adding a new pane it should be set to its defined size if any.
If no size is provided, it will resize the panes evenly.

You can check your updated demo: https://codepen.io/antoniandre/pen/vYEmJjq.
If you are happy with this behavior then you can close the issue.

I still have to rewrite some code but that  should not affect the behavior di

[2020-01-11 05:16] amir20 commented on #74
I'll try this weekend and let you know. Thanks!

[2020-01-11 05:19] #74 closed

[2020-01-11 05:19] amir20 commented on #74
I think it works! I tested it locally and will play with it more.

[2020-01-16 12:02] calebeaires commented on #76
Here you have. No v-ifs, no v-shows. Splitpanes is loaded as the vue render its page. Content inside the panes is from the server. This content appears after some time (2 or 3 seconds).

[code]

[2020-01-19 22:56] antoniandre commented on #76
Hi @calebeaires,

I have put the code you gave me in a codepen: https://codepen.io/antoniandre/pen/bGNQpqG.
Loading the default sizes works as expected.

I'm sorry to say that but your CSS is very messy, redundant, and causes problems, you should clean it up.

If you want to redo the splitpanes styles yourself which is fine, follow this example: https://antoniandre.github.io/splitpanes/#do-your-ow

[2020-01-22 03:03] lk125454242 opened #77 "npm install Error"
`npm i --S splitpanes@^2`

Only these three files
`LICENSE
package.json
README.md
`
No folders src or dist

[2020-01-22 04:32] antoniandre commented on #77
Hi @lk125454242,

There was probably a problem when you tried to install.
`npm i --S splitpanes@^2` should work just fine as well as `npm i --S splitpanes`.

I just double-checked a fresh install and there is a `dist` folder in node_modules > splitpanes.

Also works in Codesandebox or Codepen:
https://codesandbox.io/s/vigorous-silence-wivh0?fontsize=14&theme=dark

[2020-01-22 04:41] antoniandre commented on #75
Hi @vabatta,
Are you talking about a snapping feature while dragging?
Like when you are resizing 2 panes from the splitter is will snap to 50% when you go around that value?

Or are you looking for a resize evenly feature?

[2020-01-22 12:44] vabatta commented on #75
Yes, I meant a snapping.

[2020-01-25 15:34] Orayi commented on #76
Not sure if this is any help.

I've managed to get the same issue as the OP when using splitpane with bootstrap-vue.

If splitpane is the only component on the page everything works as expected. As soon as I put the navbar component before it the panes start at 50% then resize.

I've created an example in codepen: https://codepen.io/orayi/pen/oNgVqEM

[2020-01-26 13:59] calebeaires commented on #76
@Orayi  Same here!

[2020-01-27 22:57] antoniandre commented on #76
Hi @Orayi, @calebeaires,

Thanks for taking the time to create a Codepen @Orayi.
I still don't see any problem here though:
- There is a transition on the pane component, so when there is no other component it loads faster and when it mounts it's applied the size you give it and you don't see the transition as it applies fast enough to be added in the DOM with the updated styles.
- When there is a

[2020-01-27 23:02] antoniandre commented on #77
Hi @lk125454242, I hope the issue is fixed on your end.
I am closing the issue as I have no news, please reopen if still not solved, with steps to reproduce and if you can a reproduction link.
Cheers.

[2020-01-27 23:02] #77 closed

[2020-01-27 23:03] antoniandre commented on #75
That makes sense, I am adding it to my todo list. :)

[2020-01-28 18:32] Orayi commented on #76
@antoniandre removing the transition works perfectly, thanks

[2020-01-28 19:46] nmearl opened #78 "Reactive contents on pane resize?"
Resizing panes does not seem to resize contents within them. It's not until I resize the window (or the console) then the contents are fit to the new pane size. Is some event that's not being listened to on my end?

[2020-01-29 13:47] calebeaires commented on #76
it works now. thanks

[2020-01-29 13:47] #76 closed

[2020-02-03 07:05] dzcpy commented on #16
Is there any workaround for now?

[2020-02-03 07:39] antoniandre commented on #78
Hi @nmearl,

You can listen to the `resize` emitted event, but you appear to have a problem of CSS if the pane content is not resizing to correct size naturally.
The only case you should resize your content manually through the `resize` emitted event is if your content has an explicit width or height (inline style) that needs to be updated.

Please show your code so we can investigate.

[2020-02-03 08:22] antoniandre commented on #16
Hi @dzcpy, @Jakob-Maudience, @enf644,
Disabling the double click on splitter to maximize is already an option: `:dbl-click-splitter="false"` https://antoniandre.github.io/splitpanes/#horizontal-layout.

Regarding the ability to set min and max width in pixel, this is not yet possible and I am sorry to say that but I don't think of any workaround for the moment.

This feature is still in my todo li

[2020-02-04 16:44] petersutter opened #79 "No resize event when toggling horizontal flag"
Currently, when toggling the horizontal flag no resize event is fired, but the sizes of the panes may change.

[2020-02-10 23:29] antoniandre commented on #79
Hi @petersutter,

You raise an interesting point.
When changing the direction, the width and height are flipped only, no resizing is done from Splitpanes at this stage and that's why no `resized` event is fired.
Also, usually if the user changes the direction, the change is triggered from outside Splitpanes so you know that you are initiating a change of size.
But I agree it could make sense to tr

[2020-02-16 22:56] tigerbook73 opened #80 "No initial resized event"
I initialize an OpenLayer map instance in one pane in mounted() method, the width of the map is incorrect. I tried to resize the map in the event handler of ready() and resized(), it did not work. (If resize the pane manually after initialized, resize event works)

template:
[code]
After debug, I found the sequences are:
1. The pane is set to 50% width (there is two panes)
2. ready event
3. resize

[2020-02-17 14:04] petersutter commented on #79
Hi @antoniandre ,
Yes the change is triggered from outside (in my case drag & drop) and I also added handling for it, but I wondered why no resized event was fired. So it would be nice to have, but not mandatory of course.

Regarding my use case: I'm working on a splitpane feature for our web terminals with drag and drop support, similar to iTerm2:
![2020-02-17_14-54-55 (1)](https://user-images.gi

[2020-02-18 03:29] antoniandre commented on #78
Closing due to inactivity, please reopen if not solved.

[2020-02-18 03:29] #78 closed

[2020-02-19 00:16] antoniandre commented on #80
Hi @tigerbook73,
The panes sizes are calculated on mounted, here is the sequence from the codebase:

[code]

That means that anything you do based on pane size before mounted and before splitpanes fires `ready` will be inaccurate.

If you want to remove the initial transition it's very easy:
[code]

By default the transition is set to 0.2s you can override that if you want with the above selector.

[2020-02-19 04:00] ldcmd opened #81 "最新版本的分割组件 没有提供最新的ts的版本 还在1.0 ts项目中无法使用"

[2020-02-19 04:22] antoniandre commented on #81
I don't speak this language, please ask in english.

[2020-02-19 04:22] #81 closed

[2020-02-19 04:52] tigerbook73 commented on #80
Hi @antoniandre ,

Turn off transition works for me. What I need is to use another setTimeout(0) to resize the map object in mounted() method.

Thank You

One possible improvement:
Currently there is no "resized" event during initial resizing. When transition is enabled, maybe it is possible to catch "transitionend" event and fire a "resized" event.

[2020-02-19 04:52] #80 closed

[2020-02-19 04:53] ldcmd opened #82 "The latest version of the component does not provide a TS declaration"
![1](https://user-images.githubusercontent.com/25797957/74803145-d7047180-5316-11ea-8811-3d7f7a8d97b2.png)
![2](https://user-images.githubusercontent.com/25797957/74803146-d966cb80-5316-11ea-810f-04d1a1e3f055.png)
![3](https://user-images.githubusercontent.com/25797957/74803149-db308f00-5316-11ea-843b-0f207ffc9d67.png)

[2020-02-22 01:45] JSulzberger opened #83 "IE Issue Object does not support property remove."
When move away from a page I get the error above.
![Capture](https://user-images.githubusercontent.com/45376030/75084001-0d7cff00-5558-11ea-95d7-b5f1d288a4fb.JPG)

[2020-02-25 20:26] cimpok opened #84 "Absolute sizes"
Could you please add absolute sizes to panes? So we would be able to specify certain pane's initial widths not in percents of the parent but in absolute values, like px.
And also disable resizing for certain panes would be welcome. Thanks.

[2020-02-28 06:31] Rohit-nagbhidkar commented on #82
Facing the same issue
not having any TS declaration for new version

[2020-02-28 09:12] antoniandre commented on #82
Hi guys,
I have not added or removed any TS declaration, but if you know what's missing to declare I am happy to merge that in or paste it in the codebase.
I don't use Typescript so you will probably know better.

[2020-03-01 12:24] hnviradiya commented on #82
after upgrading to latest (from 1.14.2 to 2.2.1). I am facing "Unknown custom element: <splitpanes> - did you register the component correctly? For recursive components, make sure to provide the "name" option."

[2020-03-06 15:30] dfarrNTST opened #85 "HowTo: Hide the center small lines in the splitpane?"
Is there a way to hide the 2 small lines that appear in the middle of each splitpane?

[2020-03-06 18:08] nmearl opened #86 "pane-click event not firing"
The example webpage demonstrates setting and triggering various events, but the `pane-click` event does not appear to work. Likewise, in my own application, I can print to log with `@splitter-click="console.log($event)"`, but if I use `@pane-click="console.log($event)"` nothing happens.

[2020-03-13 08:57] Patrick-Spiegel opened #87 "Initial size is not calculated correctly"
I have created a sample with a long loading component.

When I Enter the page then I see the Splitter being resized during load.

I have already disabled the transition but you can still see the page being resized for a microsecond.

https://github.com/Patrick-Spiegel/SplitpanesDemo

[2020-03-16 11:21] devendra-kumar1 commented on #82
@antoniandre : Do you have typescript support for this project ? Please confirm ASAP

[2020-03-28 23:47] imoldfella opened #88 "iframe trouble"
Nice library! I did run into trouble with iframes. I get that iframes mess up the event bubbling; I don't know if this is possible, but I was wondering if when the mouse when down if it would make sense to capture the entire screen with a transparent div, like a modal does?

[2020-04-21 07:27] rostamiani opened #89 "Splitpane slider behaves wrong with RTL pages"
When _"body{direction:RTL}"_, the slider behaves wrong.
You can see the problem here. Just move the sliders:

https://codepen.io/rostamiani/pen/xxwEBvj

[2020-04-24 07:52] zcqno1 commented on #85
Just overwrite the `.splitpanes__splitter` style. The two small lines is exactly declared by `.splitpanes__splitter::before` and `.splitpanes__splitter::after`.

see [#do-your-own-style](https://antoniandre.github.io/splitpanes/example-home-view#increased-touch-zone)

[2020-05-05 16:30] nmearl commented on #84
@antoniandre any thoughts on this?

[2020-05-29 06:06] samboiii opened #90 "Alternating conditional panes not resizing upon toggle"
When you have one pane hide as another pane shows, the new pane does not take on the size that you feed it from the size property, but maintains the size of the just hidden pane.

HTML
`<splitpanes>
    <pane size='30'></pane>
    <pane v-if='alternatePane' :size="paneOneHeight">Foo</pane>
    <pane v-if='!alternatePane' :size="paneTwoHeight">Bar</pane>
<splitpanes>`

If I toggle alternatePane fro

[2020-06-10 09:38] StriveTo opened #92 "改变数据顺序，拖动错乱"
例：
  初始数据为[1, 2, 3] ,通过触发一个方法，将数据改为[1,3,2],会显示错乱
更改前：
![image](https://user-images.githubusercontent.com/34495324/84252390-19112780-ab41-11ea-8ce6-157fec5c8850.png)
更改后：
![image](https://user-images.githubusercontent.com/34495324/84252456-2dedbb00-ab41-11ea-914c-c7237c526002.png)

[2020-06-17 06:34] laoqian opened #93 "It cannot be resized by spltter when I use it inIE11 add or remove a pane 。"
**Please fix it! When I used the splitpanes in IE 11 .  If I add or remove a pane,  then I drag the spliter to resize  pane size, It doesn't word  forever.****

[2020-06-27 08:31] eZawer commented on #89
All needed to work in rtl is to change one line in the following function:

    getCurrentDragPercentage (drag) {
      drag = drag[this.horizontal ? 'y' : 'x']
      // In the code bellow 'size' refers to 'width' for vertical and 'height' for horizontal layout.
      const containerSize = this.container[this.horizontal ? 'clientHeight' : 'clientWidth']
      if (!this.horizontal) {
       // ****

[2020-06-27 18:06] jasonford opened #94 "When pane size is forced to 0 it doesn't seem to be recognized"
Setting to 0.00001 is my current working hack.

It's nice to set to 0 instead of just removing the pane since animation is much nicer for "hide" type behavior (especially for panels on the left).

I want to avoid using v-if="false" so avoid a re-mount for my in-pane components.

Thanks for the wonderful software!

[2020-07-03 03:13] rostamiani commented on #89
Can you make a pull request for this?

[2020-08-04 17:49] amir20 opened #97 "Release ESM format lib and Vue3 support"
Hi there,

I have been recently using [vite](https://github.com/vitejs/vite) to do my development. It requires all modules to be in ESM format because vite uses ESM in the browser instead of a bundler.

I noticed there is umd and common, but not ESM.

Can you export ESM format too? Or at the very lease also include the `src/` folder when releasing so that we can use `import {...} 'src/components/'

[2020-08-04 18:12] amir20 commented on #97
Actually, sounds like I'll need more Vue3 support

[code]

[2020-08-11 15:18] N0K0 commented on #82
Had the same issue, resolved it by adding
`"@types/splitpanes": "^1.0.0",` to my package.json

I'm rather new to JS, would it suffice to update your package.json with that dependency?

[2020-09-04 10:26] huzjakd opened #98 "non-passive event listener in Chrome warning"
I'm trying it in Chrome iPad emulator and I get this warning:

Added non-passive event listener to a scroll-blocking 'touchstart' event. Consider marking event handler as 'passive' to make the page more responsive.

[2020-09-09 04:10] edwar64896 opened #99 "horizontal split panes not working in electron"
trying to get a very simple split pane working horizontally in Electron.

Nada.

What do we think I am doing wrong here?
I'm going to go back and read the implementation instructions again, carefully, but I fear this is as per spec.

[code]

[2020-09-12 18:05] amir20 commented on #97
Any update on this? I have tried getting it to work with Vue3 but was unable to get it working after a couple of hours of debugging.

[2020-09-15 13:07] zihniogmen opened #100 "Collapsible Panes"
This is a cool library.

But few things are missing in terms of UX.

1. It would be nice to have a collapsible pane behaviour. (i.e https://codepen.io/rubenvincenten/pen/rzXvBy)
2. When double clicking on the separator, pane will expand to its full size. This is nice.. But it doesn't work for first pane. It should also work for first pane.

[2020-09-18 12:27] DelfsEngineering commented on #16
Any further ideas on this?

Perhaps as a work around using the resize event one could grab the div size from the DOM then if less than the min px, set the % to the same?

[2020-09-22 13:49] antoniandre commented on #100
Thanks for the feedback @zihniogmen,

The Codepen does not seem to load because of the http://lorempixel.com website that doesn't load neither.

This is possible here: https://antoniandre.github.io/splitpanes/#change-direction
(`first-splitter` option)

[2020-09-22 21:35] zihniogmen commented on #100
Thank you for the response @antoniandre

first-splitter option is working fine.

Here is the new Codepen example that points to the other feature;

https://codepen.io/zihniogmen/pen/vYGvJOz

[2020-09-30 05:42] antoniandre commented on #94
Thanks for your feedback @jasonford.
It is now possible to set a size of `0` in version 2.2.2.
Please reopen if not solved.
Cheers.

[2020-09-30 05:42] #94 closed

[2020-09-30 06:14] antoniandre commented on #89
Hi @rostamiani, @eZawer,
This is now an option in splitpanes version 2.3.0: https://antoniandre.github.io/splitpanes/#api

Thanks @eZawer for pointing out what to change! ;)

[2020-09-30 06:14] #89 closed

[2020-09-30 06:25] antoniandre commented on #88
Hi @imoldfella, thanks for your feedback.
I think I know what you are talking about: probably not capturing the event mouseup when dragging and releasing over an iframe.

This is normal as the iframe does not have the same DOM document, but very easy to prevent.
This should be handled outside of splitpanes, and here is how:

The splitpanes container gets a `splitpanes--dragging` while dragging a s

[2020-09-30 06:25] #88 closed

[2020-09-30 06:55] antoniandre commented on #86
Hi @nmearl, thanks for reporting, sorry I fix this much later.
This is now firing again in version 2.3.1
Hope it helps.

Closing the issue now, please reopen if not solved.

[2020-09-30 06:55] #86 closed

[2020-09-30 06:58] antoniandre commented on #85
Thanks @zcqno1.
yes this suffices:

[code]

[2020-09-30 06:58] #85 closed

[2020-09-30 07:08] antoniandre commented on #83
Hi @JSulzberger,

If not solved please provide some code and reproduction link if you can.

[2020-09-30 07:11] antoniandre commented on #90
Hi @samboiii, please provide your full code so I can see all the variables involved.
Please provide a Codepen if can.

[2020-09-30 07:12] antoniandre commented on #92
Please reopen in english if not solved.

[2020-09-30 07:12] #92 closed

[2020-09-30 07:21] antoniandre commented on #97
Hi @amir20, I'll be starting the migration to Vue 3 shortly, it will not work without some refactoring.

Also IMHO, Vue 3 is still a little bit fragile atm, looking at some critical open issues and PRs.
Even if I love Vue and Vue 3 even more, I wouldn't rush into it.

[2020-10-01 06:45] antoniandre commented on #97
Hi @amir20,
Vue 3 is now supported! 🎉
https://antoniandre.github.io/splitpanes/#installation

[2020-10-01 23:50] antoniandre commented on #97
Hi @amir20, sorry to say that but Webpack is not yet capable of exporting to ESM (so vue-cli neither).
The good news is it's in the pipe and will be a feature of Webpack 5!
https://github.com/webpack/webpack/issues/2933

For now you can probably find a tool to convert it to ESM one-shot.
Hope this helps.

I am closing this issue as Vue 3 is now supported and there is no way to build an ES module u

[2020-10-01 23:50] #97 closed

[2020-10-02 00:08] amir20 commented on #97
Can you just include the src dir when publishing the npm package? ESM is just the original code in this case.

Vue3 is pushing for vitejs which uses roll up in prod.

Sent via my iPhone

[2020-10-02 00:13] antoniandre commented on #97
Sure I can include the source code, will push it later today, you will see a commit reference to this thread.
I used to build Splitpanes with Rollup at the beginning, I have to say I much prefer vue-cli, it's a breeze.
Cheers.

[2020-10-02 01:08] amir20 commented on #97
I also favor webpack. Haven’t used vue-cli much though. But recently I started looking at other solutions because my development experience was slow with webpack.

Thanks for your support. I’ll update you when I try it again.

[2020-10-02 16:51] amir20 opened #102 "forEach is a not a function"
I am testing `next` branch with vuejs.

I am getting the following error.

[code]

I believe it is this line

[code]

There is no `forEach` on `HTMLCollection`. I believe you want something like `[...this.container.children].forEach`.

Maybe this was getting fixed with webpack?

[2020-10-05 06:05] antoniandre commented on #102
Hi @amir20, thanks for reporting.
You're right I did not pay attention writing that line whereas I traversed the same HTML collection correctly elsewhere in the code. What is curious is that it's never got picked up until now, even on my machine.

Anyway please give a try at version 3.0.1 and let me know.
This demo seems to work fine: https://codepen.io/antoniandre/pen/LYNKGWV

[2020-10-05 17:14] amir20 commented on #102
Thanks! I am traveling for a few days. Will try it and let you know.

Sent via my iPhone

[2020-10-11 23:03] amir20 commented on #102
This looks to be fixed now. I did noticed that you are relying on webpack's extension resolver and this breaks vite and rollup. So I am going to send you a pr.

[2020-10-11 23:08] amir20 commented on #102
Pull request sent. Also as mentioned in another issue, I am a big fan of webpack too. But recently I have been needing to do bundling for more optimized outputs. Cheers.

[2020-10-11 23:28] antoniandre commented on #102
Hi @amir20, I merged in the PR and released version 3.0.2.
Please test if it works with your setup and let me know.

[2020-10-11 23:43] amir20 commented on #102
Thanks! I had done `npm link` so I know it works.

I am having a different issue right now. Probably not related to you. Looks vite's optimization breaks some things.

Will update more when I find out what's going on.

[2020-10-15 23:35] antoniandre commented on #102
Hi @amir20, have you found out?
Please close the issue if solved. :)

[2020-10-16 00:11] amir20 commented on #102
Let’s close this issue. I don’t think it’s related for now.

[2020-10-16 00:11] #102 closed

[2020-10-18 11:02] MentalGear commented on #20
Is this feature now available ? :)

[2020-10-18 11:07] MentalGear opened #104 "Placement in Layout ?"
First off, thanks for this amazing feature packed and intuitive library!
Now my question: Would you recommend to put splitpanes within a layout of a nuxt app, or on a page ?
Thank you !

[2020-10-19 09:44] moltar commented on #82
FYI

`@types/splitpanes` only has definitions for `splitpanes@1`.

There's an open PR by @N0K0 to update it: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47156

[2020-10-19 11:38] antoniandre commented on #104
Hi @MentalGear, thanks for the feedback.
What do you mean bey layout or page, do you mean SSR or client side?

No sure that's what you are talking about, Splitpanes will work on client side as it needs to manipulate the DOM, but it will trigger from the mounted hook so it should not be a problem in SSR.
It would only make sense if you have a lot of contents inside the panes to pre-render.

If your

[2020-10-19 11:44] antoniandre commented on #99
Hi @edwar64896,
Sorry for the delay.
The implementation looks good to me, what do you mean by not working, what are the symptoms?
- why only horizontal, is the vertical layout working?
- could you provide a screenshot, and/or DOM inspection screenshot to see what is rendered?
- is there any error showing in the console?
Cheers.

[2020-10-19 11:48] antoniandre commented on #98
Hi @huzjakd,
thanks for reporting. Pease disregard this warning as the passive parameter is explicitly set to false to prevent scrolling while dragging on touch devices.

Here is the implementation:

[code]

Let me know if you need further information or help.

[2020-10-19 11:48] #98 closed

[2020-10-19 11:51] antoniandre commented on #90
Closing due to inactivity. Please reopen if not solved.

[2020-10-19 11:51] #90 closed

[2020-10-19 11:55] antoniandre commented on #84
Hi guys I am adding this in my to do list. It involves a big refactoring though.

[2020-10-19 12:10] antoniandre commented on #82
Thanks for this information @moltar.
As I am not using typescript, I haven't added any type definition, but if anyone wants to submit a PR with the type definitions I am happy to add it in the codebase!

[2020-10-19 12:24] antoniandre commented on #83
Hi @JSulzberger, I have released a fix for removing the DOM nodes on IE11.
Please let me know if you still see an error.

[2020-10-19 12:24] #83 closed

[2020-10-19 12:26] antoniandre commented on #93
This should be fixed in #83, please reopen if not solved and provide a description with some code and screenshot or description of error.

[2020-10-19 12:26] #93 closed

[2020-10-19 12:31] N0K0 commented on #82
@antoniandre cool!
I'm not using TS myself per sé. Web Storm just need some sort of source to figure out its auto complete from what i understand. But then again! Relatively new to anything frontend 😅

[2020-10-19 13:41] moltar commented on #82
@N0K0 it'd probably be less troublesome to add types to the project directly, than to the DT repo.

[2020-11-04 17:44] andrewbranch commented on #82
As a DT maintainer, I beg to differ 😄

If anyone familiar with TypeScript and v2 of this library would like to review @N0K0’s DefinitelyTyped PR (https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47156), that would help move it along! Since I’m not familiar with this library I can only spot-check it for common mistakes.

[2020-11-08 22:52] antoniandre commented on #104
Closing the issue now, please reopen if not solved.

[2020-11-08 22:52] #104 closed

[2020-11-10 16:24] lchrennew opened #105 "Vite incompatable"
[code]
Should package module version.

[2020-11-16 16:49] MentalGear opened #106 "dbl-click-splitter setting doesn't deactivate touch dbl click"
Thank you for this fantastic, easy to use and powerful plugin.

I noticed that when setting dbl-click-splitter to false, the double click mouse events doesn't expand pane anymore, but on touch devices, it still does.

[2020-11-16 19:49] MentalGear commented on #106
After a quick source review, I think the issue lies here
https://github.com/antoniandre/splitpanes/blob/3d3bcf144496a923c25bd098fa04bde2ec92c995/src/components/splitpanes/splitpanes.vue#L109

[2020-11-16 23:43] antoniandre commented on #105
Hi @lchrennew, Splitpanes does not provide an ESM module as Webpack can't do that yet.
You have to generate it yourself: https://github.com/antoniandre/splitpanes/issues/97

Hope it helps.
Please reopen with more details if the above link does not help you.

[2020-11-16 23:43] #105 closed

[2020-11-17 00:06] antoniandre commented on #106
Hi @MentalGear,
Thanks for your feedback and for reporting.
This is indeed a bug, well spotted!
I fixed this in version 2.3.5, hope it helps.

[2020-11-17 00:06] #106 closed

[2020-11-17 00:07] antoniandre commented on #99
Closing due to inactivity. Please reopen if not solved.

[2020-11-17 00:07] #99 closed

[2020-11-17 00:15] antoniandre commented on #100
Hi @zihniogmen, sorry for the delay.
- First splitter is already an option
- Regarding your suggestion on the Codepen, thanks for the reproduction link.
  A double click on the splitter already maximizes the pane and this is the most intuitive expected behavior.
  If you want to maximize the pane only on 1 side as you show in your demo, this is possible via the emitted events, just adjust the pane

[2020-11-17 00:15] #100 closed

[2020-11-18 14:26] CRMaxime opened #107 "IE 11 out of stack space"
Hello,

Ever since I added splitpanes to my Vue project it fails to work on IE 11 😢
I get an "Out of stack space" / "Stack overflow" in my chunk-vendors.js
Apparently the faulty function is related to document.currentScript

Has anyone experienced a similar issue?

EDIT: Probably relevant: https://github.com/sodatea/get-current-script/issues/4

[2020-11-19 06:25] antoniandre commented on #72
Hi @novrain,
It took me a while to make a decision, but here it is.
There are pros and cons and different opinions about it.

But base on what I read and my will to make this library easy to use, I decided to keep the polyfills in. At least for now.

According to: https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/babel-preset-app#usebuiltins, the default is to add only the polyfills that a

[2020-11-19 06:25] #72 closed

[2020-11-20 06:44] antoniandre commented on #107
Hi @CRMaxime,
It could be related yeah.
I have rebuilt the package lock file and reshipped with up to date packages in version 2.3.6 - as suggested in the thread.
Please let me know if that fixes the issue.

I double checked the documentation project in IE11 and it seems to be working fine on my end.

[2020-11-29 18:48] jakenuts commented on #82
Here's a minimalist filler for this : splitpanes.d.ts

[code]

[2020-11-29 23:33] antoniandre commented on #107
Closing due to inactivity.
Please reopen with a reproduction link if not solved. :)

[2020-11-29 23:33] #107 closed

[2020-12-02 03:23] antoniandre commented on #82
Thanks @jakenuts for sharing.

A quick question while I take advantage of your knowledge about TS: should this declaration just be added at the root of the component in https://github.com/antoniandre/splitpanes/blob/master/src/components/splitpanes/index.js?

[2020-12-03 12:52] muhammeddemir opened #108 "Panes always starts with size 50% in Vue 3"
When the page loads for the first time, the panes do not obey the size property.
I have to refresh the page every time.

"splitpanes": "^3.0.4",
"vue": "^3.0.0" (typescript)

![slitpanes](https://user-images.githubusercontent.com/23164910/101018286-54cefc00-357c-11eb-92c7-a7c33fe8db12.gif)

[code]

Do you have a solution for that?

[2020-12-05 03:30] btassone commented on #108
I am running into the same issue

[2020-12-06 13:46] muhammeddemir commented on #82
@antoniandre I added as **splitpanes.d.ts** but it was not working.
I changed to **index.d.ts** now it's working for typescripts.

Example:
![index](https://user-images.githubusercontent.com/23164910/101281772-23f00080-37e2-11eb-920a-c204474698bc.jpg)

[code]

[2020-12-07 18:04] andrewbranch commented on #82
For those not keeping track, the official typings are literally one character from being approved: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47156#discussion_r535657162

[2020-12-07 18:40] andrewbranch commented on #82
It’s merged! Thanks @N0K0 for your hard work. Within a few minutes you’ll be able to `npm install -D @types/splitpanes`, and I would think this issue can be closed.

[2020-12-08 16:41] MentalGear opened #109 "Splitter Content"
It would be really useful if we could have content within a splitter, especially on small screen.

Example which has the drag handle in the middle, and useful content within the splitter on left and right.

![image](https://user-images.githubusercontent.com/2837147/101513507-8b41b800-397c-11eb-87f7-dbcacc23878a.png)

[2020-12-08 17:08] MentalGear commented on #109
Looks like this could be done be adding
`elm.insertAdjacentHTML('afterBegin', splitterContent )`
after
https://github.com/antoniandre/splitpanes/blob/42b365a12f6b8e1faa60c64756c4178a7c04039c/src/components/splitpanes/splitpanes.vue#L327

As the maintainer, you certainly have a better grasp if that would be the best approach. What do you think ?

In the prop section, one could use a prop of 'splitt

[2020-12-09 20:06] MentalGear opened #110 "Stop Scrolling while touch resize"
On a touch device, when dragging the splitter near a scrollable pane, sometimes the underlying elements starts scrolling as well, resulting in a jigger. Maybe add event.stopPropagation() here to avoid this ?

https://github.com/antoniandre/splitpanes/blob/42b365a12f6b8e1faa60c64756c4178a7c04039c/src/components/splitpanes/splitpanes.vue#L87

[2020-12-09 23:40] jakenuts commented on #108
For reference, if the user modifies state (not just the pane size, anything), the panes animate to the initial value.

[2020-12-10 14:53] MentalGear opened #111 "Resize during requestAnimationFrame ?"
Maybe one could execute the resize calculation during  requestAnimationFrame to avoid the sometimes laggy resize?https://github.com/antoniandre/splitpanes/blob/42b365a12f6b8e1faa60c64756c4178a7c04039c/src/components/splitpanes/splitpanes.vue#L90

[2020-12-13 10:48] MentalGear commented on #109
@antoniandre Got any feedback on this ?

[2020-12-14 23:03] tompinnacle opened #112 "Certain components in a pane seem to steal mouse drag events"
This component seems to be just what I'm looking for, but with one small issue - which may not be the components fault.

I am using it to side-by-side a document (DOCX/XLSX/PDF) with some other information.  To display the DOCX I am using either the Microsoft or Google viewers.

The problem is when you drag in the bar in the direction of the DOCX if you move the mouse pointer fast enough to move o

[2020-12-21 06:41] UncleCarlos commented on #84
nice to have it

[2020-12-30 07:17] jetacpp opened #113 "Error when try to hide the pane while resizing"
Hello,
I have code that basically tries to hide a pane if its size is less than a threshold:

[code]

Apparently, closing down a pane while the resize handle still being held and moving triggered this error
[code]
I can change from `v-if` to `v-show` and it would work correctly but then the "resize handle" of the pane is still visible.
How can I fix this issue in my application code or perhaps thi

[2020-12-31 12:26] Fuzzyma opened #114 "Disable animations"
Is there a way to disable the animations of the panes?

[2021-01-07 02:27] antoniandre commented on #114
Hi @Fuzzyma, yes this is possible via CSS:

[code]

Hope it helps!

[2021-01-07 02:27] #114 closed

[2021-01-07 02:30] antoniandre commented on #113
Hi @jetacpp,
Could you share your full code, Like `panes_resized`? Ideally a Codepen reproduction.
Thanks!

[2021-01-07 20:59] jetacpp commented on #113
Interesting, I wasn't able to reproduce the issue with the CodePen version. But I ran into this issue when using Splitpanes with Electron Vue. So maybe it could be how Electron got something involved.
My code is basically like this:
https://codepen.io/izonspecies/pen/PoGagMm?editors=1111

This error was firing continuously in the brief moment when the pane was closed and I was still draging the pa

[2021-01-13 16:29] aendre commented on #84
I'm also looking for this feature! Thx @antoniandre in advance!

[2021-01-25 13:53] pipe01 commented on #108
I'm having the same issue, a workaround is to set the pane's size after mounting, like this:

[code]

[2021-01-27 16:07] PandaSobao commented on #99
Had a similar issue in `windows + electron + vue + vuetify` environment and `splitpanes v2.3.6`...

No horizontal bar functionality (within first of a pair of vertical frames) within a plane v-container.

**artist rendering**:
[code]

When clicking and/or dragging the horizontal bar it seems to trigger a vertical pane click at the end, always.

snippet:
[code]

console:
[code]

Fixed on my end by

[2021-02-09 20:01] Scnck opened #115 "Resize"
How do you get a "pane" to resize based on jstree width with that pane max-size match the current jstree width?

[2021-02-16 00:45] muhammeddemir commented on #108
Hello everyone, I think I've found an interim solution.
Enter the numbers in such a way that it is never 100%.
I solved with the size 99% panes.

**Example**
pane1 = 20%
pane2 = 79%

Not clean but it's works.

[2021-02-17 08:42] rajithaeyee commented on #84
any progress on this?? Coz im also waiting for this feature

[2021-02-28 16:50] antoniandre commented on #82
Awesome @N0K0 🙌
Closing this issue then!

[2021-02-28 16:50] #82 closed

[2021-03-02 01:40] d95sld95 opened #116 "Feature request: Built-in localStorage for pane sizes"
It would be great to have built-in support for localStorage so that the size of each pane is remembered once you come back to the page. Idea copied from PrimeVue.js

Stateful

[2021-03-02 19:47] Hextar commented on #84
I'm also looking forward for this feature!

[2021-03-17 08:38] etyo200 opened #120 "Reset to default"
It will be great if we can reset the panes to their default sizes when the user double click on the splitter

[2021-03-20 22:05] mikeerickson opened #121 "Customizing dividers, where to put override css?"
I am reviewing the code from https://codepen.io/antoniandre/pen/XxRZmB and am trying to something similar in my app (I want the single pixel divider line without the grab tool)

I have tried adding the customized css (see below) everywhere and it never works?
What am I missing here?
Where should it go?

In my app, I am import as follows

[code]

And I have tried putting the css below in the <scrip

[2021-03-20 22:08] mikeerickson commented on #121
As usual, after I removed the "default-theme" all is good, my apologies for the noise.

[2021-03-20 22:08] #121 closed

[2021-03-29 08:30] dmitrymaslov99 opened #122 "Drag&Drop and Splitpanes"
Hello. Is it possible to make the panels resizeable and so that they can be moved?
https://github.com/SortableJS/Vue.Draggable

[2021-04-09 08:23] panwauu opened #125 "Vue emits warning"
Hi and thanks for the great library!

In Vue3 there are warnings because of the event emits:
[Vue warn]: Component emitted event "resized" but it is neither declared in the emits option nor as an "onResized" prop.

I created a PR to fix these warnings #124

[2021-04-16 18:13] DigitTwin opened #126 "Vue3 Splitpanes with Element+: failed to resolve component pane/splitpanes"
With  the attached HTML file the Element+ button is displayed but the panes are not.
Would expect that Splitpanes can be used with Vue3 as in the example (similarly to an ElButten).

(Warning in console:)
[Vue warn]: A plugin must either be a function or an object with an "install" function.
[Vue warn]: Failed to resolve component: pane at <App>
[Vue warn]: Failed to resolve component: splitpanes

[2021-04-17 11:19] DigitTwin commented on #126
When using splitpanes within .vue files in a vite project it works.
So, this (importing via <script> tag) does no longer matter.

[2021-04-17 11:19] #126 closed

[2021-04-19 14:10] Exdarface opened #127 "Strange render while max size equals min size"
Hello !

I encountered an issue while using splitpanes, trying to have a pane having both same min-size and max-size. Here is a example :

https://codepen.io/Exdarface/pen/oNBPyom

Rendering seems to not work properly, and redimensioning  have a much more than strange behaviour.

Is it a known issue ? Or am i using the lib wrong?

[2021-05-07 22:17] elC0mpa opened #131 "Panes resized when added a new pane"
Hello, first of all I would like to thank you for this amazing Vue Component.
I am having a problem and I don´t know how to solve it.
The thing is that when I add a new pane to the component, the master pane (left pane) is resized and I would like to avoid this behavior.
Here I let you my code:
[code]

[2021-05-12 07:06] zzxxiinn commented on #84
I'm also looking forward for this feature! too!

[2021-05-27 14:03] swuqi opened #136 "This component does not work in Asp.Net MVC Razor page"
In my ASP.NET MVC project, another VUE split pane (https://github.com/PanJiaChen/vue-split-pane) component works. But this one does not work. It just shows two vertically rendered squares without the function to adjust the middle splitter bar. I downloaded this component from an NPM distribution as splitpanes.umd.min.js and its related files and tried to include them in the MVC project.

[2021-06-30 03:44] FelixFreelancer opened #140 "Gives Errors with Vue3 (Vue latest version) CDN"
I need to use this package with Vue 3.
This is my template/script.

`<Html>`

    <head>
        <title>
            Test (Vue 3)
        </title>`
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/splitpanes"></script>
        <link href="https://unpkg.com/splitpanes/dist/splitpanes.css" rel="stylesheet">
    </head>
    <body>
        <div id="app"

[2021-07-13 03:15] antoniandre commented on #140
Hi @FelixFreelancer, like for Vue, in Vue 3 you should use `splitpanes@next`.
Please reopen if not solved :)

[2021-07-13 03:15] #140 closed

[2021-07-13 03:17] antoniandre commented on #125
Thanks for your contribution, now merged!
Please reopen if not solved :)

[2021-07-13 03:17] #125 closed

[2021-07-20 17:52] tommasongr commented on #16
This is workaround I came up with:

[code]

It uses a ResizeObserver to trigger a recalculation on dimension change. Here `setPaneMinSize(height, 36)` you can replace the number with the minimum pixel dimension you want.

I hope it can be useful to someone!

[2021-07-22 15:15] alectrocute commented on #84
Would be a game changer

[2021-07-27 14:14] jloganolson commented on #84
+1

[2021-08-02 11:41] Blakeinstein opened #142 "Vite Vue3 this.onPaneAdd is not a function"
This is how I am using it.

[code]

I get a few warnings,
1. Failed to resolve component: splitpane
2. Injection not found, for requestUpdate, onPaneAdd, onPaneRemove and onPaneClick (twice)
3. Unhandled error during execution of mounted hook.
And a final error for,
`this.onPaneAdd() is not a function`

I am using the vite vue-ts template, and my dependencies look like this.
[code]

[2021-09-15 15:00] BroJenuel opened #144 "splitpane typescript declaration"
it seems their is not typescript support for this one.

[2021-11-12 22:44] WhatzzUp commented on #84
+1

[2021-12-06 06:52] zhangbaojia commented on #84
+1

[2021-12-06 06:55] zhangbaojia commented on #20
I'm also looking forward for this feature!

[2021-12-20 20:51] KurchenkoDarij opened #146 "Class binding for splitter"
Please add class binding to splitter

[2021-12-21 13:13] clayscode commented on #142
Also running into this same issue. This library looked promising but not entirely sure if it's maintained anymore

[2021-12-23 20:10] qualle-admin opened #148 "Reverse order of panes with custom components?"
seems like there should be a `reverse` api or ability to specific the order of panes programatticaly, any thoughts?

[2022-01-08 16:41] shishirraven opened #149 "Getting Resize Event Emit in pixel"
Great component,
Loved it, but I am facing one slight issue the event of resize is in percentage.

This is useful when we are using a Responsive layout, it would actually help manage the inner View.
Please suggest if there is way to get the size in pixel.

[2022-01-09 22:18] shishirraven commented on #149
Added a pull request to fix it.
https://github.com/antoniandre/splitpanes/pull/150

[2022-01-13 18:26] gfrancis86 commented on #104
Hi! I am trying to use this on a nuxt project and I'm getting: this.$slots.default is not a function
which I assume is because it's using ssr (nuxt)
I want to use a simple:

<splitpanes class="default-theme" horizontal>
    <pane></pane>
    <pane></pane>
    <pane></pane>
  </splitpanes>

I installed the package using: npm install splitpanes@next --save
I import the components on my page.vue
I do

[2022-01-17 05:08] shishirraven commented on #149
#150

[2022-02-10 11:49] Rajasekhar1989 commented on #87
Hi,
I am also facing same issue, when i enter the page then the splitter being resized.
How did you disabled the transition.. using CSS works for me.
.bodyinfo .splitpanes--vertical .splitpanes__pane{ transition: none !important }

[2022-02-10 11:50] Rajasekhar1989 commented on #87
Hi,
I am also facing same issue, when i enter the page then the splitter being resized.
How did you disabled the transition.. using CSS works for me.
.splitpanes--vertical .splitpanes__pane{ transition: none !important }

[2022-02-20 12:44] zqc11 opened #155 "I use splitpanes in vue3 + vite + ts, there are some wrong I don't know"
Uncaught SyntaxError: The requested module '/node_modules/.pnpm/lodash@4.17.21/node_modules/lodash/fromPairs.js' does not provide an export named 'default'
![image](https://user-images.githubusercontent.com/46465484/154843010-9c98cb91-fa20-4e50-b6c7-4c5276ed2efb.png)
![image](https://user-images.githubusercontent.com/46465484/154843042-18a2b948-3711-4d09-8455-5d19d5fcf195.png)

[2022-02-22 16:58] #155 closed

[2022-02-23 07:52] zqc11 commented on #155
Yes, it running well, thanks.

[2022-02-25 08:00] ltxhhz opened #156 "Wrong size pane after double - clicking splitter"
Nice component, thanks for maintaining it.🎉

1. In the [documentation](https://antoniandre.github.io/splitpanes/#horizontal-layout), double-clicking on the second splitter leaves a part behind the container, and dragging the splitter again changes it back.
2. And this [example](https://codepen.io/1270897967/pen/eYejaGx)

Could you please check it out?

[2022-03-03 16:54] ltxhhz opened #157 "If the "Pane" component has V-for, an error will be reported after dragging the splitter"
Hi @antoniandre . Sorry to bother you, but I am not sure if this error is internal to VUE or to this library.
Check out this [link](https://sfc.vuejs.org/#eyJBcHAudnVlIjoiPHNjcmlwdCBzZXR1cD5cbmltcG9ydCB7cmVhY3RpdmUsb25Nb3VudGVkfSBmcm9tIFwidnVlXCJcbmltcG9ydCB7U3BsaXRwYW5lcyxQYW5lfSBmcm9tIFwic3BsaXRwYW5lc1wiXG5sZXQgYXJyPXJlYWN0aXZlKFswLDFdKVxuc2V0SW50ZXJ2YWwoKCkgPT4ge1xuICBhcnIucHVzaChhcnIubGVuZ3RoK

[2022-03-06 11:02] edbotdev opened #158 "Hide splitter"
I have 2 panes with vertical splitter. I have a toggle button to expand / restore first pane to full / original width. It does this by setting the splitpanes 'size' prop. Works well. However I need to hide the splitter in the expanded state and show it in the restored state. Is there a way I can do this? Thanks.

[2022-03-30 08:18] vinnitu opened #159 "hide pane"
Glory to Ukraine!

I am trying make behavior my app like Visual Studio Code.
When resize sidebar panel to less then min-size I want to hide pane.
See gif demo please

![hide_panel](https://user-images.githubusercontent.com/432168/160784810-e69e57e3-d74e-4117-8247-adfdb60066cf.gif)

It is possible to do with splitpanes?

Thanks.

[2022-04-04 09:52] truesteps opened #160 "Can drag pane beyond min-size"
Heya! I have an issue, where I have defined a size of 20 and a min size of 15 for a pane, but whenever I try and drag the pane beyond under the min size, it is allowed to.

It feels like there is some sort of easing.

What is funny, that it also resizes the splitpane on the right. I have 3 columsn and the first column has min size, if I drag it under the min size, the last column also gets smaller

[2022-04-04 10:57] truesteps commented on #160
I added a reproduction on codepen [https://codepen.io/truesteps/pen/RwxxpyX](https://codepen.io/truesteps/pen/RwxxpyX)

[2022-04-05 14:20] AthulMuralidhar opened #161 "code examples not working"
- I have been using split lines for a while now and i am quite happy with it (thanks for the component :) )
-  our project is transitioning from vue 2 to 3 at work and meanwhile i am working on the legacy vue
- the code examples given here:  https://antoniandre.github.io/splitpanes/#lots-of-splitters are not working somehow (i do have the `splitpanes@legacy` installed)

#### OP
for the same code,

[2022-04-05 14:47] #161 closed

[2022-04-12 22:29] hnviradiya commented on #104
I am also having this issue. I am using nuxt. But not SSR. Still having issue. Older version of splitpanes was working fine.

[2022-04-13 10:09] cihadturhan commented on #84
I guess it will never be live :(

[2022-04-26 02:29] mei2015 commented on #160
why not use px for  size

[2022-04-26 11:53] truesteps commented on #160
@mei2015 would that fix it? Other than that, if I don't use a relative measurement then the layout would be broken on different screen sizes wouldn't it? I don't see a point in calculating this, that's additional operation that should be unnecessary.

[2022-05-08 08:49] orefalo opened #163 "Not an issue - Svelte port is live"
Hi Antoni,
Thanks for creating this great Vue component.
It was inspirational to discover Vue and learn Svelte.

I created a Svelte port at https://github.com/orefalo/svelte-splitpanes

Sincerely,

[2022-05-10 13:23] ngeorgiadis opened #164 "Surface resize by touch not workinh"
Hi, I have tested the demo page on a surface tablet and was not able to resize the panes. Is there something to do to make the touch resize work?

[2022-05-17 16:19] Huangyuanx opened #165 "A listening event conflict on splitter"
Click down your mouse on the splitter, the same time move out the splitter, then click up mouse you will reproduce the bug.
If you move mouse into the right splitpane again, splitter may move to the position of the mouse instantly.

[2022-05-18 04:52] #165 closed

[2022-05-19 11:02] kyrylo93 opened #166 "resize splitpanes when user resize window screen"
Hello, I have a problem, maybe somebody can help me.

I have two panes, [][], one with text on the left and an image on the right

when the user resizes splitpanes by splitter I compute the available width and truncate text on the left 'image.....next.png'

The problem is that resize event doesn't catch when the user resizes the screen or opens the console (yes, I have such a requirement).
I tried

[2022-05-24 12:18] duecksimunto commented on #157
@ltxhhz Have you been able to get around the issue in any way?

[2022-05-25 01:36] minyoung90 commented on #160
Same problem here. "push-other-panes" is not worked properly.

[2022-05-28 04:36] duecksimunto commented on #157
Thank you @ltxhhz, it worked! 🙏

[2022-05-28 10:52] ltxhhz commented on #157
A pleasure.🎉

[2022-05-29 17:03] Tal500 opened #167 "Automatic RTL detection"
Following #89, I am wondering why can't the library detect automatically whether it's in RTL or not.
The discussion has started because of [the following discussion](https://github.com/orefalo/svelte-splitpanes/issues/3#issuecomment-1140470399) in the Svelte port of this library.

The idea I said there is to detect automatically the direction by the expression `getComputedStyle(container).directio

[2022-05-29 17:05] Tal500 commented on #89
Hello and sorry for poping

OK, I have moved the discussion for this feature to the original author [in this following issue](https://github.com/antoniandre/splitpanes/issues/167).

[2022-06-16 09:53] Tal500 opened #168 "Selection issue on start dragging"
There is a bug while trying to start dragging. The user can accidentally select one pane content, if he is fast enough.
In Firefox, if the user goes to the edge of the split and drag fast enough, he may be able to select (wasn't happen in Edge.) Here is a demo in Firefox:

https://user-images.githubusercontent.com/1467072/174041311-d70ff787-fcd0-4c83-8b5c-86db553a40e3.mov

The user is unable to se

[2022-07-07 07:43] cary-hu commented on #108
Bug still here, two panel display as 50% width, after a few time, the panel will auto scale to setted size.

[2022-07-11 06:58] zizhuxuaner opened #169 "Ask a question"
Is there a ruler tool? For example, if there is a fixed width / height, the pixel value PX will be displayed, and if it is not fixed, the percentage%

[2022-07-20 09:38] fulus06 commented on #84
+10086

[2022-08-01 10:04] smellyshovel commented on #75
@antoniandre Hi. Is there any progress on this one?

[2022-08-24 07:12] vinaysudani commented on #114
I needed to add !important to make it work
[code]

[2022-08-28 05:49] kylehue opened #170 "There's something wrong that I don't know. I'm using Vue 3 but it's not working"
This is my code
[code]
And it shows me this error
![image](https://user-images.githubusercontent.com/84823378/187059671-e2f8699e-8f31-4adc-9aab-999677b9904c.png)
And these warnings
![image](https://user-images.githubusercontent.com/84823378/187059679-13d549f7-2a6d-4de1-88e0-7b7676b3c5e9.png)
This is my `package.json`
[code]

[2022-09-10 03:56] Ldkwewde01 commented on #84
+1

[2022-09-23 02:12] firstblood93 opened #171 "how can i render the view after resized?"
i don't want to resize realtime, because it  will cause performance problems

[2022-10-09 07:36] Penggeor opened #172 "How implement fixed one column?"
I have three columns but the middle column needed to be fixed, how to implement it?
Need u help!

[2022-10-19 09:59] c123456x opened #173 "拖拽的时候会卡顿，并且初次渲染的时候也会导致页面卡顿"

[2022-10-21 10:00] lchrennew opened #174 "功能申请：在水平分割的情况下，支持上半个pane大小调整，下面的pane按内容自适应高度"
在水平分割的情况下，支持上半个pane大小调整，下面的pane按内容自适应高度

[2022-10-22 11:03] BroJenuel opened #175 "Anyone tried creating a drag pane inside a pane to easily change the layout?"
Hi! I was wondering since this is about panes if is it possible to add the ability to drag panes to change the layout? For example in this: https://vue-hxs.github.io/vue-split-layout/

[2022-10-22 21:40] JeanJPNM opened #176 "SyntaxError: Named export 'Pane' not found."
I was testing this package with vitepress 1.0.0-alpha.22 and vue 3.

The package works as expected in dev mode, but during build, vite will not be able to load it:

[code]

This is likely related to intlify/vue-i18n-next#1131

[2022-10-25 08:08] enmotion commented on #84
try this to solve the problem
// DOM
`
<div ref="SplitPanesRef" class="flex flex-col grow-1">
  <splitpanes :horizontal="false">
    <pane class="xcol"
      :min-size="20"
      :size="100 - propEditorWidthPercent"
      :max-size="100 - propEditorWidthPercent">
      <div class="flex flex-col  grow-1 bg-gray-100"></div>
    </pane>
    <pane class="flex flex-col p-10 bg-white"
      :min-size="p

[2022-10-25 09:50] antoniandre commented on #174
Please reopen in English.

[2022-10-25 09:50] #174 closed

[2022-10-25 09:51] antoniandre commented on #173
Please reopen in English with a reproduction link

[2022-10-25 10:33] antoniandre commented on #176
Hi @JeanJPNM,

Thanks for the PR.
All the dependencies have been updated. Please let me know if this issue is solved when using Splitpanes 3.1.3
Please reopen if not solved. :)
Cheers.

[2022-10-25 10:33] #176 closed

[2022-10-25 10:38] antoniandre commented on #170
Please retry with the latest version of Splitpanes, and make sure you also use latest Vue.
I would delete the node_modules folder, delete the package-lock.json and rerun `npm i`, then run `npm i splitpanes@latest vue@latest`
May also be related to #176

please reopen if not solved.

[2022-10-25 10:38] #170 closed

[2022-10-25 10:39] antoniandre commented on #172
Not implemented yet: #84

[2022-10-25 10:39] #172 closed

[2022-10-25 10:40] antoniandre commented on #169
Fixed panes are not implemented yet: #84

[2022-10-25 10:40] #169 closed

[2022-10-25 10:41] antoniandre commented on #163
Hi @orefalo, thanks for the headsup and doing this port to Svelte. looks great :+1:

[2022-10-25 10:41] #163 closed

[2022-10-25 10:45] antoniandre commented on #158
Hi @edbotdev, I would do this via CSS.
Please share a reproduction link so I can help you.
Please reopen if not solved.

[2022-10-25 10:45] #158 closed

[2022-10-25 10:50] antoniandre commented on #142
Hi @Blakeinstein, it looks like you have a typo in the component name `splitpane` should be spelled `splitpanes`, hence the first error. there's also a typo closing the script tag.

Please reopen with a reproduction link if not solved.

[2022-10-25 10:50] #142 closed

[2022-10-25 13:46] newZhaoZilong opened #178 "npm i splitpanes failed"
user@lj4qh643tv project8 % npm i splitpanes
npm WARN deprecated source-map-resolve@0.5.3: See https://github.com/lydell/source-map-resolve#deprecated
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/sourc

[2022-10-25 20:34] JeanJPNM commented on #176
It still doesn't work, looking at the package.json, I see that the esm imports are using the old name of the es module.

Updating it like this should fix the problem:

[code]

[2022-10-25 20:37] JeanJPNM commented on #176
Also I can't reopen this issue.

[2022-10-26 05:45] EosFoundry opened #179 "`module` and `exports` fields in package.json pointing to non-existant file `splitpanes.es.js`"
Specifically `./dist/splitpanes.es.js` does not exist as referenced below:

[code]
This is the contents of the package as pulled from npm:

![image](https://user-images.githubusercontent.com/99506313/197944389-ad3705db-2fad-4759-86e2-4b832b73d404.png)

Should it be pointing to `./dist/splitpanes.mjs` instead?

[2022-10-26 10:44] desislavsd commented on #179
Yes, I faced that issue too. It breaks my vite setup, but when update package.json to .mjs it works fine.

Here is the [PullRequest](https://github.com/antoniandre/splitpanes/pull/180)

[2022-10-26 18:27] antoniandre commented on #179
This should now be fixed in the latest package. 3.1.4

[2022-10-26 18:27] #179 closed

[2022-10-26 18:29] antoniandre commented on #178
Related to #179. Should now be fixed.

[2022-10-26 18:29] #178 closed

[2022-10-28 07:15] antoniandre commented on #176
Okay, I will serve it as an ES Module, I think it is time to move on anyway. :)
Please try the version 3.1.5 and let me know.

[2022-10-30 00:10] JeanJPNM commented on #176
It works now, thanks!

[2022-11-20 10:26] songispm opened #181 "Double click to average the width/height of panes like vscode?"
Double click now is to max width/height the pane. but I want average the width/height like vscode.

Please add this props option or give the double click event, let developer to implement it.

[2022-11-20 13:21] DSHaworth commented on #131
Did you ever solve this problem?

I'm encountering the same thing using Vue2.

I'm using three panes.  The middle one is always visible.
I can set the left pane size just fine (:size=15).
When I add the right pane (:size=15), the left pane suddenly becomes around 50%.

I'm doing the math and see the values I'm assigning to the respective panes and the numbers are right, but the pane :size are igno